[2019-10-18 10:16] ankane commented on #278
Closing due to no response

[2019-10-18 10:16] #278 closed

[2019-10-18 13:24] maknahar commented on #227
Would it make more sense to put it in space tab right beside size each relation?

[2019-10-24 15:50] maheshm opened #283 "[Idea] PostGIS support"
I am not sure if this is within the purview of this project, but I would love to see and support the project in adding support for PostGIS. Let me know if you have some ideas in this direction.

[2019-10-24 17:44] ankane commented on #283
Hey @maheshm, can you explain a bit more? Are you running into an error when the PostGIS extension is enabled?

[2019-10-24 18:14] maheshm commented on #283
No, it works perfectly fine with the extension. But what I would like to have is index suggestions and/or slow query analysis (etc) specific to spacial queries.

[2019-10-25 01:30] geoffharcourt opened #284 "[Idea] Audit for invalid constraints, indices, and foreign keys"
We had a really bizarre issue today where we created a corrupted foreign key (pointing to a column that doesn't exist and not yet validated) that caused delete operations that the FK pointed at to take 50,000x longer. I'm surprised this is even possible, but an audit of unvalidated foreign keys (certainly possible if folks were building them with strong_migrations and forgot the last step) and inc

[2019-10-25 01:40] ankane commented on #284
Hey @geoffharcourt, I didn't realize that was possible either, but happy to include a check for it. PgHero already check for invalid indexes. Feel free to submit a PR.

[2019-10-25 01:46] ankane commented on #283
Thanks for expanding.

Re slow queries: If queries are captured by pg_stat_statements, they'll show up automatically (I imagine this is the case). Otherwise, there's not much PgHero can do.

Re index suggestions: Index suggestions are pretty basic right now, but happy to expand them if you'd like to create a PR.

[2019-10-25 01:58] geoffharcourt commented on #284
Looking at something like `Methods::Constraints` with this SQL:

[code]

[2019-10-31 09:28] ohaddahan opened #285 "[Idea] pg_flame"
I recently found out about:
https://github.com/mgartner/pg_flame

Seems like a great complementary feature for the existing `EXPLAIN` analysis.

[2019-10-31 20:17] ankane commented on #285
Hey @ohaddahan, thanks for the suggestion. You should be able to use the output from the "Visualize" button directly in that tool.

[2019-11-01 18:47] ohaddahan commented on #285
@ankane Yeah I know that I was thinking of adding it as a dependency and using it inside PGHero instead of manually pasting it into it.
I think it's useful , but whatever you prefer.

[2019-11-04 11:06] crohr commented on #128
@majodev just for reference (I'm the Packager.io maintainer), it is tricky to enable GPG signing of the package itself since pghero's maintainer would need to upload a GPG key, and somehow provide a passphrase at build time, which is not possible. That or a passphrase-less key, but then it's not much better than no key at all. Signing the repository metadata is what is usually done and ensures tha

[2019-11-04 17:28] majodev commented on #128
@crohr nevermind, it's no longer a problem for us, as we are now using the docker images. Anyways, thanks for the info.

[2019-11-06 05:11] #283 closed

[2019-11-06 05:24] ankane commented on #259
Hey @sj26, thanks for the suggestion and sorry for the delay. I can see this being useful in certain situations, but from my experience, resetting stats and waiting a week or two usually works, so don’t want to add the additional complexity right now. That being said, you should be able to use PgHero methods to build this for your app.

[2019-11-06 05:24] #259 closed

[2019-11-06 08:45] ankane commented on #279
Added support for multiple database when no config is specified. Can probably add another option like `spec` instead of `url` to use the specification from `database.yml` for cases where a config file is present.

[2019-11-06 09:03] ankane commented on #279
Added a `spec` option for now, so you can do:

[code]

May rename it before the release. Let me know if you have any suggestions.

Another option would be to automatically resolve it from the database key when possible (so `spec` isn't needed), but that could be considered a breaking change since the current behavior would resolve it to the default connection. May have it do that in the next major

[2019-11-06 09:48] ankane commented on #257
Hey @fake-name, with the next release, you'll be able to configure everything in `pghero.yml` and won't need to worry about `config:set`. I'll leave this open for now to remember to update the docs.

[2019-11-06 10:02] ankane commented on #285
Yeah, I think it's better as a separate tool.

[2019-11-06 10:02] #285 closed

[2019-11-06 10:15] ankane commented on #266
Added support for `ENV["PGHERO_SHOW_MIGRATIONS"]` on master. Will go out with the next release. https://github.com/pghero/pghero/commit/273bebc9470906112b2260e72d9ba47d9ada9430

[2019-11-06 10:15] #266 closed

[2019-11-06 22:11] a666 commented on #279
I just tested master and pinged the db team.

Looks good and works good.

About `spec`, other options could be `config` or `name`. Makes me remember about the two hard things in computer science.

[2019-11-08 08:24] ankane commented on #258
Hey @fake-name, sorry for the delay. The tree view sounds interesting but don't think it's worth the extra complexity right now.

[2019-11-08 08:24] #258 closed

[2019-11-08 08:30] ankane commented on #214
Hey @fake-name, thanks for this suggestion as well. Both good ideas. I pushed the tooltip change to master. Will look into adding better display sizes to Chartkick (the charting library) as well.

[2019-11-08 09:05] #223 closed

[2019-11-08 09:06] ankane commented on #223
Thanks for this suggestion as well. There are now three time formats:

- `1.1 s` for under 1 min
- `12:34:56` for under 1 day
- `5d 12:34:56` for over 1 day

[2019-11-08 22:58] ankane commented on #284
Hey @geoffharcourt, thanks for the query. Added an `invalid_constraints` method to master. Will add it to the UI as well before the next release.

[2019-11-09 00:11] #284 closed

[2019-11-09 00:13] ankane commented on #284
UI added. Thanks again for the suggestion! Please test it out if you have a chance and let me know if you have feedback.

[2019-11-09 01:21] ankane commented on #279
Ha, definitely true. Thanks for testing and the name suggestions. Will make a decision before the next release.

[2019-11-09 01:21] #279 closed

[2019-11-09 01:49] #214 closed

[2019-11-09 01:50] ankane commented on #214
Added better display sizes and cleaned up the tooltip. If you're still using PgHero, please give it a shot and let me know what you think.

[2019-11-13 13:03] philmcc opened #286 "Failing to get space and querry stats using the docker version"
I have a version of pghero set up built directly on linux but I am trying to get it running through docker.

It runs and I can see the front end but when I try to run the capture space stats or capture query stats jobs, I get an error:

UKM061737B61:~ pmcclarence$ docker run -ti  my-pghero bin/rake pghero:capture_space_stats --trace
** Invoke pghero:capture_space_stats (first_time)
** Invoke envir

[2019-11-14 04:43] khelal opened #287 "[Idea] Prune old historical data"
The pghero_query_stats table is very useful but grows without limits, causing it to quickly become one of the largest tables in our DB.

<img width="792" alt="Screen Shot 2019-11-14 at 8 35 04 AM" src="https://user-images.githubusercontent.com/46205/68827320-f5752400-06ba-11ea-8c49-1e184afcd09e.png">

Our solution now is the periodically truncate it, but that means that we lose all historical data

[2019-11-14 04:53] ankane commented on #287
Hey @khelal, 2.3.0+ has a rake task for this.

[code]

[2019-11-14 04:58] khelal commented on #287
Can you configure how old you want data to be kept? I thought that this was
basically a truncate.

On Thu, 14 Nov 2019 at 8:53 AM Andrew Kane <notifications@github.com> wrote:

--
--
Karim Helal
CoFounder & CEO
Tel: +971.50.641.7143   |   *Skype:* khelal

<https://www.protenders.com>

Helping Developers, Consultants, Contractors & Suppliers
Build Projects, Connect with partners and Grow their busi

[2019-11-14 05:00] ankane commented on #287
Right now, it's hard-coded to 14 days, but happy to accept a PR for a configurable `ENV` var.

[2019-11-14 14:36] philmcc commented on #286
I have updated to the latest docker image released and this problem is no longer happening.

[2019-11-14 14:36] #286 closed

[2019-11-21 19:22] raivil opened #290 "File permission issue on gem version 2.4"
Hi,

I think the latest gem might have a problem related with file permissions.

Below is the output of listing the assets files for the master (`c92fe8483374`) version and the 2.4 gem version.
I've used the `ankane/pghero` image, changed the gemfile and executed `bundle` to check each version.

This issue happens only with 2.4 gem and the file `highlight.pack.js`

[code]

[2019-11-21 23:48] ankane commented on #290
Thanks @raivil, really nice find. I imagine this was confusing, so I apologize for that. It looks like the highlight.js custom package download has those permissions and they were copied over with the file.

I pushed a new release to Rubygems (2.4.1) and the new docker image is building now. Should be out in a bit.

[2019-11-22 00:03] ankane commented on #290
And docker is out.

[2019-11-22 00:03] #290 closed

[2019-11-28 16:10] slava-nikulin commented on #183
yeah, I'm interested too

[2019-12-05 14:48] prikhi commented on #257
I've been writing an ansible playbook for deploying a web service that I want to use pghero with & am wondering if these changes are included in v2.4.1 & where the `pghero.yml` file should be placed(for the Ubuntu builds).

[2019-12-06 09:57] ankane commented on #257
Hey @prikhi, v2.4.1 includes the changes and the file can be placed at `/opt/pghero/config/pghero.yml` on Ubuntu.

[2019-12-06 09:59] ankane commented on #257
However, I'd use the official command to set it rather than placing it there directly. https://github.com/ankane/pghero/blob/master/guides/Linux.md#multiple-databases

[code]

[2019-12-13 10:40] seaify opened #293 "hjik"
Hi,

Before creating an issue, please check out the Contributing Guide:

https://github.com/ankane/pghero/blob/master/CONTRIBUTING.md

Thanks!

[2019-12-31 16:59] luizm opened #294 "[Idea] Expose some prometheus metrics"
Hi there

Pghero is really useful but sometimes has a lack of time to check the recommendation, If We could get the metrics, perhaps using prometheus I could create an alarm to notify me if I have, for example, indexes not be using or absent.

Thank you.

[2020-01-03 06:33] ankane commented on #294
Hi @luizm, thanks for the suggestion. You can use the Ruby methods to access the underlying data. This feature is a bit outside the scope of what I'd like to support right now, but someone could write another gem that does this.

[2020-01-03 07:37] #287 closed

[2020-01-03 07:40] ankane commented on #170
Since there's been an initial version out for a while, going to close. For future readers, feel free to submit a PR if you have improvements. Thanks again for the idea @fake-name!

[2020-01-03 07:40] #170 closed

[2020-01-03 07:45] ankane commented on #227
Hey @garry-9590, thanks for the suggestion, and sorry for the long delay. There's a PR that may do what you're thinking in #292, but in the interest of keeping the product simple, I'm hesitant to add. A warning will show up on the main page if autovacuum falls too far behind. Are there other situations where this can cause issues and/or is useful to have?

[2020-01-03 08:11] ankane commented on #282
Hey @lacostenycoder, thanks for the suggestion! Unfortunately, there's not really a way to make concurrent migrations idempotent with the Active Record syntax. With the approach above, a migration can be interrupted during index creation. If the migration is run again, it'll complete successfully since the index exists, but the index will be invalid, which can be dangerous since it looks like the

[2020-01-03 08:24] ankane commented on #293
Sorry for noise - GitHub search index got out of sync so needed to reopen.

[2020-01-03 08:24] #293 closed

[2020-01-03 10:53] lacostenycoder commented on #282
Ok that makes sense, thanks.   I'll keep an eye on Strong Migrations.

[2020-01-03 12:30] luizm commented on #294
Sure, is there an example of a project that do it? I'd take a look.

[2020-01-03 18:44] #282 closed

[2020-01-03 18:51] ankane commented on #294
I'm not aware of any gems that extend PgHero right now.

[2020-01-03 18:51] #294 closed

[2020-01-08 10:33] shaulbehr opened #296 "PgHero Overview broken since upgrade to Postgres 12"
Hi,
We recently upgraded our postgres servers to version 12.
Since then, pghero cannot show the Overview screen (returns HTTP 500). All the other links down the sidebar (`/live_queries`, `/space`, etc.) work fine. But Overview is broken.
Could this be linked to postgres 12? Or some other issue that's crept into our environment?
How do we go about fixing this?

[2020-01-19 20:08] ankane commented on #296
Hey @shaulbehr, can you paste the error message and stack trace?

[2020-01-20 09:11] shaulbehr commented on #296
@ankane On the browser client there is no information beyond an HTTP 500 reponse. Where would I find logs on the host?

[2020-01-20 20:11] ankane commented on #296
For Rails, logs are with the other Rails logs. For Docker, logs go to stdout. For Linux, instructions are in the Linux docs.

[2020-01-21 08:29] shaulbehr commented on #296
Aha. Here ya go:
[code]

[2020-01-21 08:39] ankane commented on #296
Upgrading your version of PgHero should fix the issue: https://github.com/ankane/pghero/issues/276

[2020-01-21 08:39] #296 closed

[2020-01-21 08:54] shaulbehr commented on #296
Thank you, that did it :-)

[2020-01-26 21:42] Gargron opened #297 "Custom asset_host not supported with override_csp"
If you have an asset host configured in Rails such as that you serve CSS and JS from a different subdomain, and you have the override_csp option enabled in pgHero, no CSS or JS will be loaded because the CSP blocks it.

[2020-01-28 04:12] #297 closed

[2020-01-28 04:12] ankane commented on #297
Hey @Gargron, thanks for the report. Give master a shot.

[2020-01-28 04:37] ankane commented on #297
Decide to revert since it adds too much complexity for this feature. You can create an initializer to set your own CSP policy with:

[code]

(and avoid setting `override_csp`)

[2020-02-01 19:03] fatkodima opened #298 "[Idea] Suggest potentially unused tables and useless columns"
pghero already has suggestions about unused indexes, so it should be helpful to have the same for tables and columns. Unfortunately, it is not easy to make similar for views.

We can not for sure tell if some table/column is unused or not without manual app code investigation, but we can make some assumptions.

For tables we can check:
1. if it is empty
2. when it was last accessed

For columns:
1

[2020-02-03 22:55] ankane commented on #298
Hey @fatkodima, thanks for the suggestions.

We could give unused tables the same treatment as unused indexes on the space page. There's currently an `unused_tables` method to find tables that haven't been accessed since stats were last reset, but it looks like the query isn't correct at the moment (only checks index scans when it needs to check many other fields in `pg_stat_user_tables`).

Empty

[2020-02-04 00:31] fatkodima commented on #298
Sure. It only complicates db schema, for newcomers/developers. Would be great to get rid of that.

Ah, yes, for columns it needs full scan. I was sure there is a better way using some internal pg data. Initially, I've seen https://wiki.postgresql.org/wiki/Finding_useless_columns , but that uses planner *estimates*.

[2020-02-04 01:03] ankane commented on #298
Re empty tables: I imagine they'll be unused if they're really not needed most of the time, which the access check will cover. I don't think it's worth an extra check.

Re columns: Happy to have an `unneeded_columns` method in Ruby with that query, but don't think it's worth adding to the dashboard at this point.

[2020-02-06 07:38] krists opened #299 "[Idea] Use I18n for dates and timestamps"
Currently pghero displays dates in `%-m/%-e %l:%M %P` format. But this format could be confusing for non-US users.

Rails already have I18n dependency. So it wouldn't harm to display dates with `I18n.t(time)` and improve readability.

[2020-02-22 00:15] scalp42 commented on #216
@ralovely could you share an example?

[2020-02-22 01:18] peterbe opened #301 "How do I clear stats?"
I'm ready to start afresh. My `pghero_stats` database is now ~8GB.

[code]

Do I dare to just truncate those tables?

[2020-02-22 22:37] ankane commented on #301
Hey @peterbe, truncating should be fine. The docs also have instructions for how to delete old query stats.

[2020-02-24 15:56] peterbe commented on #301
"The docs"?? Are there docs? Awesome! But where do I find them?
I see nothing about documentation here: https://github.com/ankane/pghero/blob/master/README.md

I did find [this page](https://github.com/ankane/pghero/blob/master/guides/Query-Stats.md) but no mention about how to delete old query stats.

[2020-03-10 21:07] mhenrixon commented on #155
Other engines work fine, I am using rails API with rswag (swagger docs), I also use administrate without problem for my rails API application. So... long story short, what is the problem?

[2020-03-10 21:07] mhenrixon commented on #155
Other engines work fine, I am using rails API with rswag (swagger docs), I also use administrate without problem for my rails API application. So... long story short, what is the problem @ankane ?

[2020-03-11 00:47] ankane commented on #301
The readme links to the docs for each installation type.

[2020-03-11 00:47] #301 closed

[2020-03-11 13:48] peterbe commented on #301
Sorry for being dim but where in https://github.com/ankane/pghero/blob/master/guides/Linux.md does it say how to clear the stats?
I still haven't found it. Perhaps I'm staring at it but can't see it.

[2020-03-12 06:23] imcvampire opened #302 "Unreadable Sequences"
The dashboard throws

[code]

after creating a user following https://github.com/ankane/pghero/blob/master/guides/Permissions.md

[2020-03-12 08:06] ankane commented on #302
Hey @imcvampire, try running:

[code]

If that works, will add it to the instructions.

[2020-03-12 09:24] imcvampire commented on #302
@ankane It works. Thank you!

And please add it to README too!

[2020-03-12 09:24] #302 closed

[2020-03-12 09:36] ankane commented on #302
Added. You'll likely want to grant permissions for future sequences as well.

[code]

[2020-03-12 19:20] ACPK opened #303 "PG Stats Not Enabled"
We migrated from RDS Postgres to RDS AuroraPostgres, and we now get that PG stats are not enabled.

We have changed `shared_preload_libraries` to` pg_stat_statements`, enabled query stats, and restarted the server.

Addition, I ran `SELECT * FROM pg_available_extension_versions`  and saw that `pg_stat_statements` version 1.6 is enabled.

However, I did notice the following error when running `SELE

[2020-03-13 10:45] mubaidr opened #304 "Docker image won't run"
When running basic docker image using guide here: https://github.com/ankane/pghero/blob/master/guides/Docker.md#customization--multiple-databases

Following error popup. Why does it needs `config/puma.rb` and where to find it?

[code]

[2020-03-13 10:50] mubaidr commented on #304
Changing the `WORKDIR` in `DockerFile` causes this error to popup. But I believe `config/puma.rb` should be required by absolute path.

[2020-03-17 05:12] imcvampire opened #305 "Wrong warning on DB flags"
Hi,

The dashboard still throws

[code]

If I have set `shared_preload_libraries` to multiple libraries.

My current flags
[code]

[2020-03-17 20:50] ankane commented on #305
Hey @imcvampire, make sure to restart your server after changing the configuration. Check out [this doc](https://github.com/ankane/pghero/blob/master/guides/Query-Stats.md) for instructions and common issues.

[2020-03-17 20:55] ankane commented on #303
Hey @ACPK, check out [this doc](https://github.com/ankane/pghero/blob/master/guides/Query-Stats.md) for instructions and common issues. I haven't seen or heard of any issues specific to Aurora.

[2020-03-17 21:16] ankane commented on #304
Hey @mubaidr, thanks for the suggestion! `master` now uses an absolute path. https://github.com/pghero/pghero/commit/1abfb16b88923b4b674274f14c227b728e08b904

[2020-03-17 21:16] #304 closed

[2020-03-17 22:24] ankane commented on #155
Gems like administrate require [special instructions](https://administrate-prototype.herokuapp.com/rails_api) to work with Rails API (essentially, adding much of the middleware back manually, which pretty much defeats the purpose of the `api_only` setting). Unfortunately, this isn't something I'd like to continuously test/support.

You're welcome to fork the gem and maintain a version for the comm

[2020-03-31 21:34] #305 closed

[2020-03-31 21:34] #303 closed

[2020-04-01 17:49] gen0cide opened #307 "How to clear DB stats?"
Hey everyone,

Not sure if this is either an idea or a bug, but I'm having an issue and I'm not sure how to fix it.

## System Information
System is a Rails 5.x Application using a `mount` engine exactly as documented in the Rails guide.

## Background
Originally, I had setup the capture stats commands inside of a reoccuring ActiveJob:

[code]

Where I messed up is that I set that re-occurring cro

[2020-04-02 01:15] ankane commented on #307
Postgres doesn't reclaim space when you delete rows (as those methods do). You'll probably want to truncate the tables (which does reclaim space) and start again.

[2020-04-14 06:53] psykidellic opened #309 "[help] Runnig pghero inside k8s with a url prefix"
Please let me know if there is a better place for this question.

We have k8s based app which is available at "/". I would like to add pghero to the setup and make it available at "/pghero". I have been able to setup the right deployment and service file and everything works. This is the ingress file I am using

[code]

With this setup, I can get the index page to load up but unfortunately, there

[2020-04-14 07:15] ankane commented on #309
Hey @psykidellic, check out #145. If you have additional questions, check out the Contributing Guide for where to get help.

[2020-04-14 07:15] #309 closed

[2020-04-14 15:41] psykidellic commented on #309
Thanks, that worked. I will create a PR to add this into docs as they mentioned in #145 .

[2020-04-16 00:31] #307 closed

[2020-04-19 03:16] ankane commented on #299
Discussion in PR

[2020-04-19 03:16] #299 closed

[2020-04-24 12:38] himat opened #310 "Make pghero_query_stats in a different schema"
Hi, if I want to enable `pghero_query_stats`, then can I make that table in a separate schema from my usual `public` schema?
If I do this, how do I tell pghero that it's in a different schema (still in this same database).

[2020-04-25 00:44] ankane commented on #310
Hey @himat, try adding `?schema_search_path=other_schema,public` to the stats database url.

[2020-04-30 23:42] jwoertink opened #312 "Question about data not updating"
I'm running my rails app locally, but my DB is connected to my staging DB on AWS RDS. I booted my rails app, pulled up pghero and saw things like duplicate indexes, query stats not enabled, and other stuff. I rand a migration to update my staging DB. I'm able to hop in to the psql and see those changes have been made. I restarted my local running rails app, and it still shows the pre-migration dat

[2020-05-01 16:02] filipkis commented on #215
As Rails 6 is now out and webpacker is the default, any chance of reconsidering this. Here is a good example of how another gem switched to supporting webpacker as well. Maybe that can be an inspiration: https://github.com/activeadmin/activeadmin/pull/5855

[2020-05-01 16:39] jwoertink commented on #312
ok, after some sleep, it turns out that's exactly what was going on 😅  I forgot I had the pghero config telling it to point to a different DB. oops!

[2020-05-01 16:39] #312 closed

[2020-05-06 19:22] ericgross opened #313 "How can I prevent pg_stat_statements_reset from being run?"
I am running on Heroku (postgres 12) where I don't have superuser permissions - so this is failing.

Is it possible to prevent pg_hero from trying to reset this data?

[2020-05-08 20:24] leimao commented on #86
This is ridiculous. I thought there are some problems with my program. Thank you.

[2020-05-13 22:37] bonesmoses opened #314 "Misinterpretation of pg_index.indkey column results in overestimate of index bloat"
In `index_item_sizes` portion of the index bloat query, indexes with multiple columns do not retain all attributes from the `btree_index_atts` subquery. This is due to a misunderstanding of the contents of the `pg_index.indkey` column.

From the documentation:

Thus if columns 2 and 3 are indexed, indkey will reflect '2 3'. However, in `pg_attribute`, the index attributes will be 1 and 2. Thus joi

[2020-05-13 22:59] rdlugosz commented on #313
Tagging on to follow and to add that this worked on Heroku Postgres prior to the PG 12 upgrade.

[2020-05-14 11:10] ericgross commented on #313
Yes - this used to work for me.

[2020-05-17 00:37] #310 closed

[2020-05-17 00:49] ankane commented on #313
This isn't currently supported. I just tried reseting stats on a fresh Heroku Postgres 12 database and it worked, so it should be possible to set up.

[2020-05-18 20:54] ankane commented on #313
There should be resources online for how to update Postgres permissions. Check out the Contributing Guide for where to get additional help.

[2020-05-18 20:54] #313 closed

[2020-05-19 19:19] choesang opened #315 "Permissions issue when connecting with newly created ROLE pghero"
Hi,
I am working on a Postgres 9.6.
I have executed the query as defined in the Permissions page with a SUPERUSER privilege. Below is an excerpt from the query with bold text as my values.

I get a HttpStatus 500, when connecting to the database is used with pghero user but works fine with my other db user. I must be doing something blatantly wrong, but dont know what.

-- create user
CREATE ROLE

[2020-05-19 20:08] ankane commented on #315
Hey @choesang, you should be able to find an error message in the logs. Please check out the Contributing Guide for where to get additional help.

[2020-05-19 20:08] #315 closed

[2020-05-19 20:30] choesang commented on #315
@ankane Thank you for the hint. It was a permission denied exception for relation pghero_query_stats. I then looked at the table privileges of the user pghero and found that it has no privileges for tables in public schema.
[code]

I have added this explicit privileges (USAGE and SELECT) on public schema. I wonder how it works for you without explicitly granting this privilege?

[code]

[2020-05-19 20:44] choesang commented on #315
I get it now. You create the tables pghero_space_stats and pghero_query_stats in pghero schema. It was not easy to understand from the documentation that you create those tables using the newly created role. I assumed that since granted the privileges using a SUPERUSER, i also create those 2 tables with that user.

[2020-05-19 21:38] ankane commented on #314
Hey @bonesmoses, thanks for taking a look. At first glance, I'm not sure I see the issue. It seems like `indkey` references the table columns and the `pg_attribute` join happens on the table (`indrelid`).

[code]

[2020-05-20 15:14] joekohlsdorf opened #316 "Unable to run as non-superuser, functions never called"
The steps outlined here https://github.com/ankane/pghero/blob/master/guides/Permissions.md to run queries with a restricted user do not work.

The problem is that the defined functions are never called in the code, for example here:
https://github.com/ankane/pghero/blob/74f73d32523cc51cc37495dc740636380d56ea6f/lib/pghero/methods/query_stats.rb#L179

You run `SELECT * FROM pg_stat_statements;` but

[2020-05-20 21:23] ankane commented on #316
Hey @joekohlsdorf, there are views that wrap the functions:

[code]

I appreciate the suggestion, but if the view names are consistent with the Postgres table names, there's no need to check for their existence, which makes things simpler.

[2020-05-20 21:23] #316 closed

[2020-05-21 15:02] jbaruch76 opened #317 "500 Error using Kubernetes"
Trying to get this up and running, currently hitting this error in the logs and not sure where to go from here.
yaml:
[code]
LOG:
[code]

[2020-05-22 05:28] ankane commented on #317
Hey @jbaruch76, from the error message, it seems like `SELECT pg_is_in_recovery()` is not returning any rows, which is odd. Can you try running that query directly on the database? Also, can you provide more details on the Postgres version and provider?

[2020-05-22 12:45] jbaruch76 commented on #317
Thanks for the response. I do get back 1 row when running that query with a value of 'f'. Using this docker image: docker.io/bitnami/postgresql:11.7.0-debian-10-r82.

[2020-05-22 13:09] ankane commented on #317
Thanks for the additional info. A few follow-up questions:

1. Are you using a connection pooler? The only reference I was able to find about that query returning no rows was [this bug](https://www.pgpool.net/mantisbt/view.php?id=446) from Pgpool-II.
2. Are you using the same connection string as PgHero when `SELECT pg_is_in_recovery()` returns a single row?

[2020-05-22 13:26] jbaruch76 commented on #317
I do not know the answer to the first question, but this was the response I got from another dev:
Yes, we use connection pooling, via the python scripts
but not a 'global' for pg, no pgpool

as for 2, I can successfully login from another container using `psql -h postgres-postgresql -U postgres -d db` and login with the password

[2020-05-22 14:17] ankane commented on #317
Yeah, think that's it. The url should be:

[code]

instead of

[code]

The latter is setting an empty url, which is defaulting to a null database adapter, which always returns zero rows.

[2020-05-22 14:22] jbaruch76 commented on #317
Thank you! That did it, I thought I was following the yaml here https://github.com/ankane/pghero/blob/master/guides/Docker.md . Your help is much appreciated thanks for the app.

[2020-05-22 14:22] #317 closed

[2020-05-22 14:30] ankane commented on #317
The config in the instructions expect `DATABASE_URL` to be set as an environment variable, fwiw. Anyways, will try to have it throw a better error in the future.

[2020-05-22 14:46] jbaruch76 commented on #317
Gotcha, hadn't seen that syntax before. Maybe, as an idea, include those env vars in the kubernetes template? Just in case someone else makes the same mistake. Thanks again.

[2020-05-23 02:00] ankane commented on #317
Happy to review a PR for better docs. I haven't used Kubernetes much, but essentially we need to make sure the database URLs are kept secret (like I imagine they are for apps).

[2020-05-23 02:18] ankane commented on #298
Cleaning up issues

[2020-05-23 02:18] #298 closed

[2020-05-23 02:45] #227 closed

[2020-05-23 04:56] ankane opened #318 "Ideas"
PgHero 3.0

- [ ] (breaking) Make `capture_query_stats`  only reset stats for database instead of instance in Postgres 12+
- [ ] (breaking) Make `reset_query_stats` only reset stats for current database (use new `reset_instance_query_stats` method to reset for entire instance)
- [ ] Only suggest removing large unused indexes on space page
- [ ] Drop support for Rails < 6 and Ruby < 2.7
- [ ] Drop

[2020-05-24 14:42] ankane commented on #227
With the latest release, you can now add `?dead_rows=t` to the url on the maintenance page to see this ratio.

[2020-05-26 20:34] ramaboo opened #319 "PG hero does not work well with sprockets disabled."
There was clearly some thought given to this here:

https://github.com/ankane/pghero/blob/0714d085655928e2051c3eff8bcf30af3ca378e1/lib/pghero/engine.rb#L18

However this does not appear to work 100%. It allows the /pghero to run in a rails app without sprockets but none of the stylesheets get loaded so it's hard to use. That if needs some sort of else clause to handle assets when sprockets is not

[2020-05-26 20:40] ankane commented on #319
Hey @ramaboo, the dashboard requires Sprockets (it's not an explicit dependency since you can use PgHero without the dashboard). If a lot of people run into this issue, we could also add a check for it similar to the one for Rails API: https://github.com/ankane/pghero/blob/1897f7886401ae50fa2c00280fb5f0b7319a2e72/app/controllers/pg_hero/home_controller.rb#L447

[2020-05-27 13:01] peterbe opened #320 "Install for Ubuntu 20.04"
Either it's missing from https://github.com/ankane/pghero/blob/master/guides/Linux.md or it's not supported.

[2020-05-27 16:45] ankane commented on #320
Hey @peterbe, PgHero uses packager.io to build Linux packages, which doesn't support Ubuntu 20.04 yet. Will add it when it does.

[2020-05-27 16:45] peterbe commented on #320
Thanks!

[2020-06-04 21:04] #320 closed

[2020-06-04 21:05] ankane commented on #320
Hey @peterbe, the Ubuntu 20.04 package is now available (thanks to @crohr).

[2020-06-04 21:13] #319 closed

[2020-06-04 21:14] ankane commented on #314
Cleaning up issues. Let me know if you have thoughts on the above.

[2020-06-04 21:14] #314 closed

[2020-06-05 15:09] bonesmoses commented on #314
I apologize for not checking this in more depth. I glanced at the query and it had sufficient similarity to this one:

https://github.com/pgexperts/pgx_scripts/blob/master/bloat/index_bloat_check.sql

That I assumed it had the same issue. Unfortunately I didn't pay close enough attention to the predicate where they made their initial mistake:

[code]

Whereas they used `indexrelid`, you properly u

[2020-06-05 23:51] ankane commented on #314
No worries, was good to have another set of eyes on it. Josh Berkus gets the credit for writing it.

[2020-06-12 12:48] marckohlbrugge commented on #301
@peterbe It's in the Rails doc: https://github.com/ankane/pghero/blob/master/guides/Rails.md

[code]

or

[code]

[2020-06-23 13:24] trevorrjohn opened #321 "Google Cloud Monitoring Lib broken"
Hi,

I tried to follow the instructions to configure my CloudSQL database, however it looks like the code is using an old version of the `google-cloud-monitoring` gem. It might be worth adding to the readme that you need to pin the version to `< 1.0`, (I believe this is the breaking version).

https://googleapis.dev/ruby/google-cloud-monitoring/latest/file.MIGRATING.html

[2020-06-23 15:47] nacengineer commented on #318
How do you run the rake tasks as a different user in an existing rails application, i.e. use the non superuser user to run tasks.

[2020-06-23 19:08] #321 closed

[2020-06-23 19:11] ankane commented on #321
Hey @trevorrjohn, thanks for reporting. It looks like 1.0 was released earlier this month.

[2020-06-29 17:07] bheemreddy181 commented on #318
@ankane Is there a way we can disable the `Explain` part from the board?

[2020-06-30 00:13] bheemreddy181 opened #322 "Question around EXPLAIN"
Does `EXPLAIN ANALYZE` apply changes on the table?

For example: if I run a delete on a DB does that directly apply on the DB? if so we are looking for a way where we can restrict. people doing so.

Can you share your thoughts?

I was reading through this documentation which does say that it applies on the DB. The below statement confused me a bit

`If you wish to use EXPLAIN ANALYZE on an INSERT,

[2020-06-30 00:27] till opened #323 "setup (systemd, database_url)"
I installed pghero today using your yum instructions — kudos, it works beautifully.

It seemed like the package doesn't include a systemd unit, so here it is:

[code]

It seems to work. If I can PR that to some place, let me know.

---

Another thing is that for a noob like myself, the `DATABASE_URL` was a struggle. Especially since my passwords have lots of weird characters.

I had to do somethin

[2020-07-03 07:50] ankane commented on #322
Hey @bheemreddy181, `EXPLAIN ANALYZE` will apply changes, so PgHero runs it in a transaction and rollbacks so the changes aren't committed.

[2020-07-03 08:09] ankane commented on #323
Hey @till, thanks for sharing! PgHero uses packager.io for Linux packages - I'm not sure if there's a way to add a systemd unit. Also, added a note to the Docker and Linux docs about special characters.

[2020-07-03 08:15] ankane commented on #318
@nacengineer For Rails, you can set `PGHERO_DATABASE_URL` to the non-superuser user or generate a config file (see docs for how).

@bheemreddy181 There's not a way to disable any pages. The docs should have instructions for authentication for each installation type.

[2020-07-03 08:46] till commented on #323
@ankane Never heard of packager.io. But looks interesting. It seems like CentOS7 is supported, which requires systemd. [So they note on their website.](https://doc.packager.io/documentation/distributions/) Is there a manifest of some kind that you use to build the packages?

[2020-07-03 08:48] till commented on #323
Ah! Looks like you need this file:
https://doc.packager.io/documentation/customizing-the-build/

And then maybe explicitly add a target? Not sure what you configured in their UI so far.

[2020-07-03 08:53] ankane commented on #323
The config is [here](https://github.com/pghero/pghero/blob/master/.pkgr.yml) (separate repo).

[2020-07-05 22:04] devendersangwan855 commented on #228
@bodinsamuel
This is how I  made it work on my Windows 10 Home:
1. I followed the answer to this [StackOverflow question](https://stackoverflow.com/questions/31249112/allow-docker-container-to-connect-to-a-local-host-postgres-database):
2. I used `host.docker.internal` as the hostname in database_url property while running the docker container.
`docker run  -ti -e DATABASE_URL=postgres://user:pass

[2020-07-06 22:50] bheemreddy181 commented on #322
Makes sense thanks

[2020-07-07 01:13] bheemreddy181 commented on #322
After discussion with our DBA’s I could see there is a potential risk with these transactions which could block the application behind the scene when we write UPDATE queries. Your thoughts on the same ? @ankane

[2020-07-07 01:24] ankane commented on #322
Hey @bheemreddy181, do you have an example?

It's possible to execute any query that works with `EXPLAIN ANALYZE`, but I haven't seen this cause issues in practice (I imagine most of the queries that are run are ones that the app is already running). Based on https://github.com/ankane/pghero/issues/318#issuecomment-653417274, you might consider forking the gem and adapting it to your needs.

[2020-07-07 01:38] bheemreddy181 commented on #322
Here is one example from our discussion

[code]

[2020-07-07 01:43] ankane commented on #322
There's a configurable statement timeout (10 seconds by default) that should prevent those situations.

[2020-07-07 17:55] till commented on #323
@ankane so, part of this was a misunderstanding: Cyril from support helped me out though. It looks like the initial scale creates all units. And it seemed like I missed that — I was looking for a unit right away. :) Should we add a note about that to the docs?

They seem to add one for:

 - `pghero`
 - `pghero-web`
 - `pghero-web-X` (x = amount of `scale`)

So, `systemctl status pghero` and reload

[2020-07-08 03:00] ankane commented on #323
Thanks for looking into it. Feel free to submit a PR to improve the docs.

[2020-07-08 20:24] jfinzel commented on #322
@ankane allowing arbitrary write SQL to be executed on a production database is never good practice.  As a DBA, I frequently have to debug production query issues.  I have never, ever run EXPLAIN ANALYZE on production, even rolling it back.  That is because a lot can still go wrong.

It underestimates the complexity of what is involved.  Consider high concurrency applications that have an SLA of 1

[2020-07-09 01:13] ankane commented on #322
Hey @jfinzel, I appreciate the feedback.

One easy change to make is to allow `explain_timeout_sec` to be a float so it can be set to < 1 sec (it uses a local statement timeout so other queries aren't affected). I don't think the sequence issue is a problem for a majority of applications, and you also have to trust the code to disable `ANALYZE` works, so not sure there's much difference there.

If

[2020-07-09 01:16] bheemreddy181 commented on #322
Thanks for the inputs on this @ankane

[2020-07-09 01:23] ankane commented on #322
np, fwiw, there's a test case for explain analyze that should catch regressions. https://github.com/ankane/pghero/blob/5c13d3cb3725f2f3ca7626b1405ffc32b865b34e/test/basic_test.rb#L8-L12

[2020-07-09 02:11] bheemreddy181 commented on #322
Thanks again

[2020-07-09 02:11] #322 closed

[2020-07-09 02:13] bheemreddy181 commented on #318
@ankane did you ever thought about PGHero Authenticaton at database level like DB A is only authorised for Team A and DB B is authorised only for team B ?

[2020-07-09 04:41] ankane commented on #318
@bheemreddy181 You can set up separate instances of PgHero with different configurations for separate teams. PgHero doesn't have any built-in authorization.

[2020-07-10 19:02] bheemreddy181 opened #325 "Question : Query stats"
Hi @ankane

We are trying to enable https://github.com/ankane/pghero/blob/master/guides/Docker.md#historical-query-stats using docker scheduler.

We started seeing that pghero is trying to access `pg_stat_statements_reset` table

Can we know what could be the possible reason for it to access that table?

I could see that it is trying to clean from here https://github.com/ankane/pghero/blob/master/

[2020-07-10 19:16] bheemreddy181 commented on #325
if possbile can we make [this](https://github.com/ankane/pghero/blob/master/lib/pghero/methods/query_stats.rb#L59) optional as we use this several other purposes on our end.

[2020-07-11 02:03] jwilson114 opened #326 "Empty Queries"
I followed the install instruction to set up using Rails however the queries tab is empty and returns "unknown query". When I look in the database I can see there is data within the pg_stats_statement, pghero_query_stats and pghero_space_stats tables. The rails database user is a superuser and all the recommended setup sets were cxompleted. When I pun PgHero.query_stats from the console data is re

[2020-07-12 00:06] ankane commented on #326
Hey @jwilson114, can you take a screenshot of what you're seeing?

[2020-07-12 00:18] ankane commented on #325
Hey @bheemreddy181, stats are reset after they're captured, and with the current approach, won't be accurate if that's disabled.

You could take snapshots of the `pg_stat_statements` table without resetting it and have different logic to calculate the stats, but this approach is a bit more complicated and not something I'd like to support right now. You could implement this yourself and still use

[2020-07-12 07:10] jwilson114 commented on #326
Hy @ankane, Thanks so much for getting back to me. Ive attached a screenshot

<img width="1132" alt="Screen Shot 2020-07-12 at 5 08 54 pm" src="https://user-images.githubusercontent.com/20564995/87241052-80810680-c462-11ea-80da-f782d31ea0e2.png">

[2020-07-12 17:45] Dulanic opened #327 "docker-compose stats question"
So I thought I was doing it right, but Im not seeing anything from the query history outside of pgadmin and pghero queries...  Maybe my docker-compose command is wrong?  I was trying to do a PR (https://github.com/ankane/pghero/pull/324) to explain better how to capture stats and table size... table size seems to be working, but the query portion isn't capturing most of the queries?

EX: I run thi

[2020-07-13 01:51] ankane commented on #327
Hey @Dulanic, I think the issue might be due to the fact that all the databases are part of the same Postgres instance. When query stats are captured for the first database, they're reset across the entire instance (since it's not possible to reset for a specific database). You can get around this with:

[code]

Which tells PgHero to capture all the stats at once with the main instance. Let me kno

[2020-07-13 01:58] Dulanic commented on #327
Thanks, I'll try that in the morning and will let you know. I didn't know the capture could be put in the pghero yml.

[2020-07-13 02:44] ankane commented on #327
Added it to the docs. Also, it looks like it's possible to reset query stats on a finer granularity in Postgres 12+, so will look into adding that.

[2020-07-13 03:47] ankane commented on #326
It looks like something may be adding a trailing slash to your routes - `/queries/` instead of `/queries`.

[2020-07-13 17:55] bheemreddy181 commented on #327
I also see the same issue but in my case databases are from different Postgres instance, I don't see `a time range slider will appear on the Queries tab.` after running capture query stats

[2020-07-13 22:06] Dulanic commented on #327
Working as expected now, thank you for that.

[2020-07-13 22:06] #327 closed

[2020-07-13 22:07] Dulanic commented on #327
@bheemreddy181 you may want to make sure you still keep the  DATABASE_URL: in the docker-compose.yml.

[2020-07-14 00:23] bheemreddy181 commented on #327
@Dulanic what if I have multiple Postgres instances?

[2020-07-14 00:33] Dulanic commented on #327
@bheemreddy181

My docker-compose.yml: I have the database_url env variable set like so, postgres is the database I am using to store the history.

```DATABASE_URL: postgres://user:pw@ipaddr/postgres```

My pghero.yml is where the multiple DBs are delcared as mentioned above.

[code]

[2020-07-15 09:17] jwilson114 commented on #326
Thanks so much @ankane thats sorted it. Great app as well.

[2020-07-20 19:34] bheemreddy181 commented on #327
@Dulanic from the above config what I understood is you are storing `teslamate` `nextcloud` into `postgres` database is that correct ?

[2020-07-20 20:26] Dulanic commented on #327
That's right.

[2020-07-20 21:20] bheemreddy181 commented on #325
Cool thanks.

[2020-07-20 21:20] #325 closed

[2020-07-20 21:25] bheemreddy181 commented on #327
Cool my use case is different where i capturing stats into their own database. i am not able to see the slider in the UI not sure what I am doing wrong here

[2020-07-20 21:30] bheemreddy181 opened #328 "Questions around Query slider"
Using docker installations mentioned [here](https://github.com/ankane/pghero/blob/master/guides/Docker.md#customization--multiple-databases) I was able to setup pg hero successfully and I am using `cron` to run pghero:capture_query_stats but not able to see slider in the queries tab.

Am I missing something here ?

[2020-07-21 06:13] ankane commented on #326
Great to hear. What was the cause of the trailing slash? I think others who run into this may find it helpful.

[2020-07-21 06:22] ankane commented on #328
Hey @bheemreddy181, the slider will appear once the table is set up. Please check out the Contributing Guide for where to get help.

[2020-07-21 06:22] #328 closed

[2020-07-21 06:23] ankane commented on #323
Cleaning up issues

[2020-07-21 06:23] #323 closed

[2020-07-21 15:09] bheemreddy181 commented on #328
Hey @ankane I could see the table setup is successful and I could see the stats being captured for every 5 mins, but still the slider seems missing.

[2020-07-22 01:59] bheemreddy181 commented on #328
Hey @ankane help me if am wrong you are talking about this table correct
[code]
I could see the stats getting captured correctly

<img width="976" alt="Screen Shot 2020-07-21 at 20 58 42" src="https://user-images.githubusercontent.com/3464623/88125478-00128200-cb95-11ea-89ea-0bef8b7354c2.png">

[2020-07-28 13:45] baphill opened #329 "pghero gives me a blank webpage"
Hi,

Before creating an issue, please check out the Contributing Guide:

https://github.com/ankane/pghero/blob/master/CONTRIBUTING.md

Thanks!

[2020-07-28 13:53] baphill commented on #329
I installed according to instructions for centos7.  I run the curl and it comes back with nothing. The pghero is running according to systemctl command.  Was there a prerequisite function I should have installed?

[2020-07-28 14:58] baphill commented on #329
root@postgres pgsql]# curl -v http://localhost:3001/
* About to connect() to localhost port 3001 (#0)
*   Trying 127.0.0.1...
* Connected to localhost (127.0.0.1) port 3001 (#0)

< HTTP/1.1 500 Internal Server Error
< Content-Type: text/html; charset=UTF-8
< X-Request-Id: ea9b9f85-d725-4850-a242-27e315e83bcb
< X-Runtime: 0.012699
< Content-Length: 0
<
* Connection #0 to host localhost left intact

[2020-07-28 19:03] ankane commented on #329
@baphill What do the logs say?

[2020-07-28 20:27] baphill commented on #329
rack (2.2.3) lib/rack/urlmap.rb:74:in `block in call'
rack (2.2.3) lib/rack/urlmap.rb:58:in `each'
rack (2.2.3) lib/rack/urlmap.rb:58:in `call'
puma (4.3.5) lib/puma/configuration.rb:228:in `call'
puma (4.3.5) lib/puma/server.rb:713:in `handle_request'
puma (4.3.5) lib/puma/server.rb:472:in `process_client'
puma (4.3.5) lib/puma/server.rb:328:in `block in run'
puma (4.3.5) lib/puma/thread_pool.rb:

[2020-07-28 20:43] ankane commented on #329
That means there's an issue with your database connection info (`DATABASE_URL`). Check out the Contributing Guide for where to get additional help if needed.

[2020-07-28 20:43] #329 closed

[2020-08-01 04:48] rromanchuk commented on #318
It would be nice if this could support IAM RDS based connections, ive been using an ec2 role with this dependency with https://github.com/haines/pg-aws_rds_iam and it's been working well

[2020-08-04 19:31] ankane opened #330 "CSRF Vulnerability"
PgHero is vulnerable to cross-site request forgery (CSRF). This vulnerability has been assigned the CVE identifier CVE-2020-16253.

Versions Affected: 2.6.0 and below
Fixed Versions: 2.7.0

## Impact

The PgHero dashboard is vulnerable to cross-site request forgery (CSRF). This affects the Docker image, Linux packages, and in specific cases, the Ruby gem. The Ruby gem is vulnerable with non-sessio

[2020-08-04 20:07] #330 closed

[2020-08-04 23:02] ankane commented on #318
Hey @rromanchuk, are you seeing an issue when trying to use it PgHero?

[2020-08-04 23:08] ankane commented on #326
Cleaning up issues

[2020-08-04 23:08] #326 closed

[2020-08-12 08:50] cristofer opened #331 ""We're sorry, but something went wrong""
Hey guys!

We are trying to install: https://dl.packager.io/srv/deb/pghero/pghero/master/ubuntu/pool/main/pghero_2.6.0-1594280586.1082ec5d.bionic_amd64.deb and we get the 500 error, are you currently making changes on that server?

[code]

Thank you!

[2020-08-13 11:52] ankane commented on #331
Hi @cristofer, looks like it's still returning 500, so I've reached out to the provider.

[2020-08-13 12:41] ankane commented on #331
It's back.

[2020-08-13 12:41] #331 closed

[2020-08-18 10:50] ideeeveee commented on #328
@bheemreddy181 I am facing the same issue with the slider not being available even when the table is present with the necessary data. Did you get a solution to this?

[2020-08-25 13:44] vitobotta opened #332 "Errors when running PgHero.capture_query_stats"
Hi!

I have added the gem and run the migration, but I get this error when running `PgHero.capture_query_stats`:

[code]

I am looking at the code but I am not sure of what's going on. Thanks in advance for any help :)

[2020-08-26 01:22] ankane commented on #332
Hey @vitobotta, it looks like you're on edge Rails, which may have a breaking change (and isn't supported yet).

[2020-08-26 09:41] aodj opened #333 "'Queries' pane unusable on Google Cloud SQL"
I realise that this topic has been covered in other issues for "insufficient permissions" but I wanted to specifically post this issue to head off any other users that might desire to use pghero on Google's Cloud SQL platform.

As far as I can tell, due to the restrictive nature of the `default` user that gets made when the Cloud SQL instance is created, it's not possible to see any of the queries

[2020-08-26 09:56] ankane commented on #333
Hey @aodj, have you tried the `postgres` user? https://cloud.google.com/sql/docs/postgres/users

[2020-08-26 09:58] ankane commented on #333
From the docs:

https://cloud.google.com/sql/docs/postgres/create-manage-users

[2020-08-26 10:08] aodj commented on #333
Hi @ankane, thanks for your prompt reply!

Yes,

[code]

We are using PostgreSQL 9.6 currently, are you sure that moving to 10+ would help?

[2020-08-26 21:01] ankane commented on #333
I haven't tried it, but that's what the Cloud SQL docs say.

[2020-08-26 22:20] vitobotta commented on #332
Gotcha, thanks.

[2020-08-27 08:48] #332 closed

[2020-08-27 08:49] ankane commented on #332
Hey @vitobotta, looks like that method isn't needed in Rails 6+, so should be fixed on master.

[2020-09-01 22:04] pascualguerreroc opened #334 "arm64"
Hi, I'm getting this issue
N: Skipping acquire of configured file 'main/binary-armhf/Packages' as repository 'https://dl.packager.io/srv/deb/pghero/pghero/master/ubuntu  20.04 InRelease' doesn't support architecture **'armhf'**

[2020-09-01 22:17] ankane commented on #334
Hey @pascualguerreroc, PgHero uses packager.io for Linux packages, which doesn't support ARM as far as I know.

[2020-09-03 13:28] raivil opened #335 "[Idea] Extending Controller to add features"
Hey,

I'm looking to extend Pghero logging features by adding more attributes to logs. Example: user_id, host, etc.

This can be achieve by using lograge or other logging gem. However, some attributes are not available to the `PgHero::HomeController`.

I'm using pghero on a custom rails app, and the `ApplicationController` has the following code:
[code]

One idea would be to add a empty concern to

[2020-09-04 17:18] kwent opened #336 "Health endpoint"
Hi,

Would be nice to have a healtcheck endpoint especially useful in a container environment to make sure application is loaded and healthy. ( We could use `/` but when behind auth, it does not work ) and `/health` or `/healthz` is a better convention.

Regards

[2020-09-04 21:14] ankane commented on #336
Good idea. Added on master. Will go out with the next release: https://github.com/pghero/pghero/commit/5440157827a3fbc3c807d5b797a34955a278f215

[2020-09-04 21:14] #336 closed

[2020-09-08 01:58] ankane commented on #333
Cleaning up issues

[2020-09-08 01:58] #333 closed

[2020-09-08 01:58] #334 closed

[2020-09-09 03:55] ankane commented on #335
Hey @raivil, you should be able to create an initializer with:

[code]

(may also need to incorporate the Rails reloader for it to work in development)

I don't think it's common enough to officially support.

[2020-09-09 14:38] pvande opened #337 "PgHero ignoring GiST index when building suggestions?"
Postgres Version: 11
PgHero Version: 2.7.1 (Docker)

![image](https://user-images.githubusercontent.com/2350/92611898-21771c80-f26e-11ea-9932-565acadd4d79.png)

A minor annoyance, but PgHero is suggesting I create a new index for a column already covered by a dedicated GiST index (and a composite index, which is also valid for the query).  Explaining the query also shows that the planner is actual

[2020-09-15 13:02] NielsKSchjoedt opened #338 "PGHero cannot find pg_stat_statements -> likely because it's installed in another schema than `public`"
Is there any way to specify the schema in which pg_stat_statements is installed?

When you, as me, have a database with many schemas, extensions are often installed in a separate "shared" schema, in my case that is called `extensions`.

[2020-09-16 01:09] ankane commented on #338
Hey @NielsKSchjoedt, PgHero doesn't specify a schema, so just make sure the schema is in the search path for the PgHero user.

[2020-09-16 11:11] NielsKSchjoedt commented on #338
Thanks for the reply. I added `&schema_search_path=public,extensions` to the database connection URL. While this seems to work, I an now getting a different error:

[code]

Any thoughts?

[2020-09-17 15:42] bheemreddy181 commented on #328
@ideeeveee Nope I am still waiting to spin up a production version for this - I hope the new installation will fix the problem

[2020-09-28 03:58] #335 closed

[2020-09-28 04:00] ankane commented on #338
Check out https://stackoverflow.com/questions/45610833/queryid-column-missing-in-pg-stat-statements-table

[2020-09-28 05:48] ankane commented on #337
Hey @pvande, thanks for reporting! I was able to confirm with a test case (https://github.com/ankane/pghero/compare/ltree_index). However, the fix would involve an additional query just to check for that column type, which I don't think makes sense to add right now.

[2020-09-28 14:22] pvande commented on #337
Thanks for taking some time to look into this!

I agree that adding a check to test specifically for a type defined by a particular extension would not make sense.  Unfortunately, this does not appear to be an issue that only affects `ltree` columns, nor does it appear to only affect `GiST` indices.  With a few minor modifications to your branch above, I tried

[code]

[2020-09-28 20:32] ankane commented on #337
Thanks for looking deeper into it. I've fixed the hash index case. Let me think about if it makes sense to consider all gist indexes as covering.

[2020-09-28 21:15] ankane commented on #337
Alright, I think it's safe to assume a GiST index will cover if it doesn't have an opclass. The main case I was worried about is in the commit (incorrect covering for `=` query on text column with `gist_trgm_ops` index). Let me know your thoughts.

[2020-09-29 05:12] pvande commented on #337
This looks like an improvement, but it still seems a bit patchy.  GIN, BRIN, and SP-GiST indices are all ignored out of hand, and the exceptions seem a bit arbitrary.  That caused me to look a bit further into the documentation myself, and … well, I've definitely learned things!

The first thing I've learned is that most GiST indices do _not_ implicitly support equality tests ([as generalized here

[2020-09-29 06:10] ankane commented on #337
The current code assumes a GiST indexes without an opclass in their definition support basic operations (=, >, >=, etc), but not sure if that's a good assumption.

Feel free to submit a PR if there are simple things we can do to improve.

[2020-09-29 13:06] pvande commented on #337
According to what I've seen from the Postgres docs (and contrary to what I would have naïvely believed), that assumption is probably not valid.

I'll take a stab at a PR.

[2020-10-08 09:33] bb opened #341 "pghero > 2.5.1 not working with PostgreSQL 13"
Hi Andrew,

thanks for creating pghero!

I just upgraded PostgreSQL from 11.9 to 13.0. Now pghero version 2.7.2 and master stopped working.

I see the following error:
[code]

Relevant lines from the stack trace using master (version 2.7.2 has exactly the same line numbers):
[code]

The postgres version given by `select version()` is
`PostgreSQL 13.0 (Ubuntu 13.0-1.pgdg16.04+1) on x86_64-pc-linux-

[2020-10-08 09:38] ankane commented on #341
Try updating the pg_stat_statements extension:

[code]

[2020-10-08 09:41] bb commented on #341
Thanks for the quick reply. Now it works with both master and 2.7.2.

Sorry for the noise.

[2020-10-08 09:41] #341 closed

[2020-10-08 09:59] ankane commented on #341
No worries, I imagine many people upgrading will run into this. I may switch PgHero to use the version from `pg_stat_statements` instead of the Postgres version (in [a branch](https://github.com/ankane/pghero/compare/pg_stat_statements_version) for now).

[2020-10-08 10:12] bb commented on #341
Sounds like a plan. A hint in the changelog or readme or UI might be another option. Because why would I want to stay on an old extension version unknowingly?

[2020-10-08 22:19] ankane commented on #341
Yeah, that's my hesitation in merging it. For now, I've added a note the query stats docs (85e6bd00e2e2dfb01340da5769ccb0b4e056a85c) and updated the title of this issue. Also created [a branch](https://github.com/ankane/pghero/compare/pg_stat_statements_update) with a friendly error message about updating.

[2020-10-09 07:19] bb commented on #341
LGTM 👍
I'd prefer the pg_stat_statements_update branch over the silently working one.

[2020-10-19 11:33] leduytung opened #342 "Syntax error when using Sqlite3 as query stats Database"
Hi guys,
I have trouble when using Sqlite3 as another Database to store query stats.
After setup and migrate, the rake bin/rake pghero:capture_query_stats is pass.
But when I start docker, I see the error **ActiveRecord::StatementInvalid (SQLite3::SQLException: near "(": syntax error)**,
from **lib/pghero/methods/basic.rb:44:in `select_all'**

I tried with another PGHERO_STATS_DATABASE_URL using P

[2020-10-19 14:27] mscrivo opened #343 "[Question] Permissions required for explain"
Hi,

I apologize for this question ahead of time, but have not been able to find any info on it, and have not gotten a response on StackOverflow, so I'm asking here and hopefully it's useful to others as well.

With PgHero setup according to the [permissions guide](https://github.com/ankane/pghero/blob/master/guides/Permissions.md), is it possible to augment the permissions to allow the pghero use

[2020-10-19 20:43] ankane commented on #342
Hey @leduytung, PgHero requires Postgres for the stats database. It could use other data stores as well, but I don't think it's a common enough need to support.

[2020-10-19 20:47] ankane commented on #343
Hey @mscrivo, the PgHero user is just a normal database user, so you can assign privileges the same way you would with other database users.

[2020-10-20 02:24] leduytung commented on #342
Thank for your response, I will try with Postgres

[2020-10-20 02:24] #342 closed

[2020-10-20 20:43] mscrivo commented on #343
Thanks @ankane .. so it's just a matter of granting select/execute permissions for the pghero user? Thought it was more complex than that. My apologies.

[2020-10-23 23:21] mscrivo commented on #343
Yeah that's all that was need ... closing the issue, thanks!

[2020-10-23 23:21] #343 closed

[2020-10-26 04:00] fake-name opened #344 "[Enhancement] Some data modification operations wedge pghero for the duration of their execution."
Basically, I'm fiddling with my database structure, and have some queries that modify table structure running (currently, at least a `ALTER INDEX <nnn> SET TABLESPACE <mmm>` on a several hundred GB index.

From what I can tell, this acquires an exclusive lock on some of the metadata tables pghero also uses. This means that trying to browse to the pghero web interface blocks for the duration of the

[2020-11-05 12:04] lisolu opened #345 "Enabling System Stats not possible if `gcp_database_id` contains numeric characters"
Postgres Version: 11
PgHero Version: 2.7.2 (Docker)

When trying to enable System stats for Google Cloud SQL in our PGhero deployment, it would always fail with

[code]
Our database id is sth. like `my-project:postgres11-xyz`, i.e. it contains numeric characters.

After looking at the source code I am pretty sure the following line causes this error:
lib/pghero/methods/system.rb (line 147)
[code]

[2020-11-05 23:35] #345 closed

[2020-11-05 23:36] ankane commented on #345
Hey @lisolu, makes sense to me. Fixed on master.

[2020-11-07 21:41] ankane commented on #338
Cleaning up issues

[2020-11-07 21:41] #338 closed

[2020-11-13 20:10] bheemreddy181 opened #346 "[Question ]: Capture query stats"
Hey,

Can we run capture query stats this way

[code]
we are actually mounting our own pghero.yml which has all the database config needed something like below

[code]
Each DB stays on its own host

[2020-11-20 14:05] bheemreddy181 opened #347 "Question : Mount as a Individual Ruby app"
Can we mount this as a individual Ruby application without using the docker image. I mean just by using the Ruby gem and mount on plain rails app ?

[2020-11-21 00:26] ankane commented on #347
Hey @bheemreddy181, for Rails apps, there are instructions in the docs. For non-Rails Ruby apps, you can use the Ruby API (also in the docs), but would need to build your own dashboard.

[2020-11-21 00:27] ankane commented on #346
Hey @bheemreddy181, I don't really understand the questions. Please explain the idea a bit more and how it differs from what's currently possible.

[2020-11-21 01:30] bheemreddy181 commented on #347
@ankane the question was rather than building a standalone PGHero using a docker image can we build it as a stand-alone Ruby app using PGHero gem and use the same level of configuration used on the docker config

[2020-11-21 04:00] bheemreddy181 commented on #346
PGHero can look at PGHero.yml directly and capture query stats for all the databases looks like I missed that information from docs 😐

[2020-11-21 04:00] #346 closed

[2020-11-21 19:15] ankane commented on #347
The docs have instructions for 3 ways to install PgHero and only one involves Docker. Check out the Contributing Guide for where to get additional help.

[2020-11-21 19:15] #347 closed

[2020-12-04 14:36] till commented on #144
@ankane I updated to 2.7.3 just now, I am unable to see schemas at all? Is there anything to enable for this to work?

[2020-12-09 02:43] bheemreddy181 opened #348 "Question : Unpacked docker image throws errors on clean query stats"
Hi Ankane ,

Need some help for you to understand why unpacked docker image throws the below error while running clean_query_stats using a custom sidekiq worker

```RuntimeError: NullDB not configured. Require a framework, ex 'nulldb/rails'```

below is my application.rb

[code]

Tried digging throw the code to see why but wasn't able to figure it out.

[2020-12-09 13:15] bheemreddy181 commented on #348
We had to upack the docker image so that we can pghero as rails application for deployment - with docker images currently we don't have a good way fo storing secrets so we had to go with this route.

below is some stack trace for reference

[code]

[2020-12-10 17:33] bheemreddy181 commented on #348
Working fine after setting the database_url correctly

[2020-12-10 17:33] #348 closed

[2020-12-15 08:10] shashidharreddy001 opened #355 "pghero not working on new installation"
On installation of pghero on centos 6 it is not working on one of the servers and getting errors in pghero logs, this is to monitor postgresql server

/opt/pghero/vendor/bundle/ruby/2.7.0/bin/puma:23:in `<top (required)>'

[14231] Puma starting in cluster mode...

[14231] * Version 5.0.4 (ruby 2.7.2-p137), codename: Spoony Bard

[14231] * Min threads: 1, max threads: 16

[14231] * Environment: pro

[2020-12-16 17:26] jackdempsey opened #350 "showing more than 1 day of data?"
Hey Kane!

We just brought PgHero into Fin and are loving it. Thanks for all the hard work on this over the years.

QQ: I could have sworn we used to be able to see multiple days of data, maybe up to 2 weeks back, on queries. We're just seeing the past 24 hrs though, even though there's more in the db.

We noticed this https://github.com/ankane/pghero/blob/3fb8945ed2d72331bac227c6a272db1ecc2be2d4/

[2020-12-16 19:12] ankane commented on #350
Hey, great to hear. Query stats have always been 24 hours (system stats can go back 2 weeks, and links for query stats will work as long as the records aren't deleted). I'm not sure I want to add an option for it right now, but you can probably fork the gem and change that line.

[2020-12-16 19:28] jackdempsey commented on #350
Ok great, thanks!

[2020-12-16 19:28] #350 closed

[2021-01-01 15:03] amira29a commented on #225
To fix this issue if you are using WMPL Plugin"Internal Server Error 500"
use this way in this link https://ycanfix.com/internal-server-error-500/

[2021-01-11 20:38] Yinabled commented on #345
@ankane It seems like this issue wasn't resolved with b63d0b0 - at least on my end, it seems as if a `gcp_database_id` with numeric characters (e.g. `abcd-efgh-1234:abcde`) still leads to an "Invalid database id" error, whereas one without numeric characters does not. it's a bit puzzling since the regex seems correct - any ideas?

[2021-01-12 08:36] lisolu commented on #345
I ran into the same issue when upgrading right before the holidays and then completely forgot about it...I had a look at the image (tag v2.7.3) and it seems that - despite the tag - it still uses pghero-2.7.2, i.e. in /app/Gemfile.lock you have
[code]
and pghero-2.7.2 under /usr/local/bundle/gems/.

[2021-01-12 17:54] Yinabled commented on #345
Got it - @lisolu did you manage to resolve the issue somehow, or is the only option to wait for a new release that uses pghero-2.7.3+?

[2021-01-12 22:39] ankane commented on #345
Hey @Yinabled and @lisolu, nice catch. I just pushed an updated version to the `pghero:latest` Docker image (and the Linux package should finish building shortly).

[2021-01-13 07:34] Yinabled opened #352 "Missing ld-linux-x86-64.so.2 file while loading GCP system stats"
When loading system stats via the GCP database integration, PgHero (specifically, the gRPC gem within google-cloud-monitoring-v3) seems to try to access a file which does not exist. Relevant stacktrace:
[code]

For context, I'm running PgHero by running `puma -C config/puma.rb` within the latest PgHero parent image. Our database is on PostgreSQL 9.6.

[2021-01-13 08:28] ankane commented on #352
Hey @Yinabled, thanks for reporting! It looks like the Docker image was missing `gcompat`. I just pushed a new image to `pghero:latest` with a fix (https://github.com/pghero/pghero/commit/69d919f53c97e6a2c163246ca36d7fb155bad3b4).

Note to future self: Tried `libc-compat`, but it places `ld-linux-x86-64.so.2` into `/lib64` instead of `/lib`, which isn't in the load path.

[2021-01-13 08:28] #352 closed

[2021-01-13 15:11] Yinabled opened #353 "Segfault when loading gRPC gem for GCP system stats"
PgHero seems to consistently be encountering a segfault when attempting to load GCP system stats, while the rest of PgHero loads without issue. Not sure how useful this is, but here are first few hundred lines of the stacktrace - looks to be another issue with gRPC:
[code]

[2021-01-13 15:14] Yinabled commented on #352
Wonderful - thanks @ankane!

[2021-01-14 03:22] ankane commented on #353
Thanks @Yinabled. Looks like it's due to https://github.com/grpc/grpc/issues/24116. I've pushed a fix to the `latest` image.

[2021-01-14 03:22] #353 closed

[2021-01-14 08:16] Yinabled commented on #353
Amazing - that worked like a charm. Thanks!

[2021-01-21 22:04] bheemreddy181 opened #354 "[Question] : Are these true duplicate indexes"
Hey Ankane,

Question on duplicate indexes

![Screen Shot 2021-01-21 at 4 00 32 PM](https://user-images.githubusercontent.com/3464623/105417913-eb757c00-5c01-11eb-8535-25c630efd209.png)

`index_accounting.activities_on_source_id (source_id)` and `index_accounting_activities_on_source_id_covering (source_id, accounting_date, activity_type_id, payment_id, activity_id)` are these really a true duplic

[2021-01-29 04:53] ankane commented on #355
Hey @shashidharreddy001, based on the error message, it looks like the config file is invalid.

[2021-01-29 04:55] #337 closed

[2021-01-29 05:26] ankane commented on #354
Hey @bheemreddy181, for most apps, I don't think it'll make a difference, but I'd go with what you're seeing over the general advice PgHero gives.

[2021-02-01 04:16] bheemreddy181 commented on #354
Can we create a category duplicate indexes and true duplicate indexes - do you think that will add value?

[2021-02-01 10:46] hgfdd opened #356 "Yet one code 500 error"
Hi, in Centos 7 with PgHero 2.7.3 i am receiving the following error:

[code]

Thanks in advance!

[2021-02-01 22:56] ankane commented on #356
Hey @hgfdd, thanks for reporting! Fixed in the commit above and will push a new release shortly. I'd be curious to see which sequence PgHero is unable to parse after you upgrade - you should be able to find it by clicking on the "unreadable sequences" text.

[2021-02-02 18:29] abhishek77in opened #357 "[Question] : How do I find source of the query?"
Hi,

Pghero is amazing in identifying the slow queries. I want to know what methods in my rails app are triggering those queries, so that I can optimize them. Can this be done using newrelic or some other monitoring tool?

[2021-02-02 18:33] abhishek77in opened #358 "[Question] : Slow queries list does not update immediately"
Hi,

After I have identified and fixed the slow query, the query still appears in the slow query list, causing some confusion. Is it possible to have it reflect immediately.

Thanks!

[2021-02-02 21:50] ankane commented on #357
Hey @abhishek77in, check out [Marginalia](https://github.com/basecamp/marginalia).

[2021-02-02 22:32] ankane commented on #354
I don't think it'd would for most applications, so wouldn't want to add.

[2021-02-02 22:34] bheemreddy181 commented on #358
Can we make that time more configurable?

[2021-02-02 22:38] bheemreddy181 commented on #354
Sounds good then thanks for sharing your thoughts on this.

[2021-02-02 22:38] #354 closed

[2021-02-02 23:30] ankane commented on #358
I don't think there's significant benefit from adding an option.

[2021-02-03 06:37] abhishek77in commented on #358
I fixed a slow query like a month ago. It still shows up, only the avg. query time goes down.

<img width="824" alt="PgHero___Overview" src="https://user-images.githubusercontent.com/749134/106708069-4b175280-6618-11eb-832a-1c7f18dbd2a6.png">

[2021-02-03 22:29] ankane commented on #358
They default threshold is 20 ms. You can customize this in `pghero.yml` ([relevant docs for Rails](https://github.com/ankane/pghero/blob/master/guides/Rails.md#customization--multiple-databases)).

[2021-02-09 14:58] charlie-wasp opened #360 "[Idea] Write stats to multiple databases separately"
At the moment, all stats for multiple databases are written to the primary one, and there is no way to change this behavior (please, correct me here if I am wrong). I have a case when I would like to write each database stats separately.

I have a Rails engine with a dedicated database, and it will become a standalone service eventually. And when it happens, it will have its own PgHero dashboard w

[2021-02-09 22:22] bheemreddy181 commented on #360
+1

[2021-02-09 22:23] bheemreddy181 opened #361 "[Question] : Mask PII from Live Queires"
Is there a way we can mask PII from Live Queries ?

[2021-02-10 02:11] ankane commented on #360
Hey @charlie-wasp, thanks for the suggestion and offer to help. However, I don't think it's worth the extra complexity.

For the specific case above, you should be able to use a tool like [pgsync](https://github.com/ankane/pgsync) to move the historical data when it becomes a standalone service.

[2021-02-10 02:16] ankane commented on #361
Hey @bheemreddy181, there's an experimental `filter_data` option for this - https://github.com/ankane/pghero/pull/291. You can set `filter_data: true` in `pghero.yml` or set the `PGHERO_FILTER_DATA=1` environment variable.

[2021-02-10 03:46] #355 closed

[2021-02-10 14:18] bheemreddy181 commented on #361
How does this filer data work ? i still see data in the queries
<img width="867" alt="Screen Shot 2021-02-10 at 8 17 20 AM" src="https://user-images.githubusercontent.com/3464623/107521709-7fd75c80-6b78-11eb-897f-867355444fec.png">

[2021-02-11 07:12] ankane commented on #344
Hey @fake-name, sorry for the delay. Which query was timing out?

For timeouts, you should be able to set statement and lock timeouts on the database user that PgHero uses.

[2021-02-11 08:07] fake-name commented on #344
I'm not sure which query, exactly, since some DDL can basically block everything, so I can't introspect running queries (because doing so blocks!)

[2021-02-11 08:27] ankane commented on #344
If you set a lock timeout on the PgHero database user, it should show up in the exception backtrace.

[2021-02-11 08:55] abhishek77in commented on #358
As per the info text I am looking at **"Slow queries take 20 ms or more on average and have been called at least 100 times."**
If it possible to look at slow queries in a particular time frame, like last 3 days, right now it shows for the lifetime.

Some of the queries showing up in the list are not relevant anymore as I have change my query technique.

Attaching the image to give you more content

[2021-02-11 09:24] ankane commented on #358
Hey @abhishek77in, please see my comment above. It looks at the last three hours, not lifetime, and there's an option to customize the threshold if you need it.

[2021-02-11 09:30] abhishek77in commented on #358
Hey @ankane for some reason I don't think it's showing data for queries run in last 3 hours as the call count is stying the same (OR I am missing something obvious here). I will dig in further to get a better understanding. Thanks again for your reply.

[2021-02-11 09:45] ankane commented on #358
My bad, it looks like it'll show lifetime if you're not using historical query stats. You'll need to enable them to see the last 3 hours.

[2021-02-11 10:34] abhishek77in commented on #358
Thanks for clarifying. I think we can close this issue now. @ankane

[2021-02-11 16:53] charlie-wasp commented on #360
Got it! Thanks for the quick reply

[2021-02-11 22:04] #360 closed

[2021-02-11 23:14] #358 closed

[2021-02-13 00:41] bheemreddy181 opened #362 "[Question] : What all permission do we need for pghero user for capturing query stats"
We have granted execute permission for pghero on

`grant execute on function public.pg_stat_statements_reset() to pghero;`

but we still see error as below

`ActiveRecord::StatementInvalid: PG::InsufficientPrivilege: ERROR:  permission denied for function pg_stat_statements_reset`

Are we missing something ?

Haven't got any from https://github.com/ankane/pghero/blob/master/guides/Query-Stats.md

[2021-02-16 19:26] bheemreddy181 commented on #362
All the db's in the pghero.yml didn't have the permissions for the user. Working after updating that.

[2021-02-16 19:26] #362 closed

[2021-02-16 19:27] bheemreddy181 commented on #361
Here is a query which masks all the PII for the pg_stats table, if you want I will try creating a PR

[code]

[2021-02-17 13:52] abhishek77in commented on #358
@ankane Heroku scheduler lets me run the job every 10mins with a very simple setup. Can I run `rake pghero:capture_query_stats` this every 10 mins instead of 5 mins. I am guessing the answer is yes, but just making sure.

Also, where would the slow queries for last 3 hours appear, on the queries page or on the overview page?

[2021-02-18 06:51] #356 closed

[2021-02-18 06:51] #357 closed

[2021-02-18 06:53] ankane commented on #361
From the screenshot, it looks like the option isn't enabled. Also make sure you're on version 2.5.0 or greater.

[2021-02-18 07:51] abhishek77in commented on #358
My slow queries section under overview is showing only 1 query. Thanks a ton for making the gem, it's a life saver.

[2021-02-18 17:20] bheemreddy181 commented on #361
I have the `PGHERO_FILTER_DATA=1` as an environment variable

[2021-02-18 18:35] ankane commented on #361
I'd try forking and debugging to see what's going on.

[2021-02-18 18:50] bheemreddy181 commented on #361
Ah cool , looks like the env variable didn't take effect I added the pghero.yml variable which seems to be working now. Thanks for this :-)

[2021-02-18 18:50] #361 closed

[2021-02-23 23:43] samudary opened #363 "Time format in maintenance listing table is ambiguous"
The maintenance table has been quite useful for determining when the last analyze or vacuum was completed on tables. However, I find that the time format used is ambiguous, excluding a year. For example, in the screenshot below it's impossible to tell which year these operations actually ran:

![Screen Shot 2021-02-23 at 5 39 58 PM](https://user-images.githubusercontent.com/7735821/108923431-6ca7a

[2021-03-02 19:27] bheemreddy181 opened #365 "[Suggestion] : Killing queries as an option for pghero"
Hi Ankane,

I really appreciate how many various open-source tools you provide for a wider audience around the world. Thanks a ton.

I want to hear your thoughts on making the KILL long-running queries ( typical KILL button ) as an option using a flag and hiding the button in the UI if that value is set. As we try to push this tool out, we see people fearing to see those KILL buttons on the UI.

W

[2021-03-04 04:08] mg-affinity opened #366 "AWS RDS upgrade from 12 to 13 is throwing errors on pghero objects"
HI,

We are trying to upgrade our AWS RDS postres instance with pghero installed and running into weird errors ... on multiple pghero objects, the errors look like the one below

[code]

We will try to drop pghero objects and re-try the upgrade but I was wondering if this is a known issue

Thanks

[2021-03-04 15:50] Dulanic opened #367 "pghero docker timezone"
Would it be possible to add a TZ variable for the docker containers? Or am I missing some setting that I can change? I'd like it to be my local TZ vs UTC. I tried mounting /etc/localtime and /etc/timezone, but neither fixes it. Allowing a TZ env variable could be easily implemented within the dockerfile, I'd submit a PR, but I don't know where your dockerfile is not in this repo.

https://wiki.alp

[2021-03-07 23:48] LETRA opened #368 "Mastodon unused indices error: Remove them with a migration for faster writes"
Hi, Could you be a little more specific with this? There are some instructions to fix an unused indices error and it advises "Remove them with a migration for faster writes". And then the line: "rails generate migration remove_unused_indexes". But that line cannot be run in cli. I tried to find a solution but could not. Many novice users surely have the same problem. Thank you for any help.

[2021-03-12 07:29] ankane commented on #366
Hey @mg-affinity, can't recall if I've run into that when upgrading, but I think dropping the PgHero objects should fix it.

[2021-03-12 07:46] ankane commented on #368
Hey @LETRA, it may make sense for Mastodon to set `Pghero.show_migrations = false` to remove those instructions if users aren't working with Rails directly. If Mastodon manages the database, there probably isn't anything for users to do (it's a relatively minor notice).

[2021-03-12 07:55] ankane commented on #367
Hey @Dulanic, there's currently an option in Rails (`PgHero.time_zone`), but would be good to add an environment variable for Docker. Can probably do something similar to `show_migrations`: https://github.com/pghero/pghero/blob/bc633c680d87408b69f658c59f545e9e4f19b622/config/application.rb#L53

[2021-03-12 08:07] ankane commented on #365
Hey @bheemreddy181, sounds good. Feel free to submit a PR.

[2021-03-12 12:50] Dulanic commented on #367
Thanks, that makes sense. So I haven't worked /w Rails. I am OK /w docker python etc... so my question is, where is the dockerfile you use? I'd be happy do edit to setup a TZ env variable etc..., but I'm not sure where in the rails files that env variable would be pulled in.

Or are you saying I set the TZ in the container by just adding a TZ env variable in my docker run command then just adding

[2021-03-12 20:19] ankane commented on #367
Hey @Dulanic, the Dockerfile is in the repo linked above. I think it'd be good to use `PGHERO_TZ` for now so it doesn't cause any unintentional change in behavior. I'm happy to make the change if that's easiest.

[2021-03-12 23:51] #363 closed

[2021-03-14 12:23] Dulanic commented on #367
Feel free, I am on holiday so if you have the time, that would be awesome.

[2021-03-14 20:37] ankane commented on #367
Added in https://github.com/pghero/pghero/commit/108e52193042ab2c6bc4bb763baf9786c643afb3 and will push a new release shortly. Enjoy your holiday!

[2021-03-14 20:37] #367 closed

[2021-03-18 18:15] raivil opened #370 "issues with PgQuery 2.0.1"
Latest version (`2.8.0`) fails when upgrading PgQuery from `1.3.0` to `2.0.1`.
Details:
[code]
Stack
[code]

[2021-03-19 14:33] skojin opened #371 "rails engine: stylesheets not loaded in webpack only mode"
http://localhost:3000/stylesheets/pghero/application.css get 404
I think it related to disabled sprockets

my rails 6.1 application.rb
[code]

[2021-03-24 15:41] marckohlbrugge commented on #370
`pg_query`'s [changelog](https://github.com/pganalyze/pg_query/blob/main/CHANGELOG.md) includes the following:

[code]

It looks like PgHero directly accesses the `tree`:

https://github.com/ankane/pghero/blob/83c4edd1a7123c55862ffbfa831c58814b75fc20/lib/pghero/methods/suggested_indexes.rb#L199-L211

So that's probably the part that needs to be modified to work with the latest `pg_query` version.

[2021-03-25 10:53] #370 closed

[2021-03-25 11:08] ankane commented on #370
Thanks for reporting @raivil and looking into it @marckohlbrugge. Should be fixed in the commit above. Will push a new release in the next day or two.

[2021-03-25 11:11] ankane commented on #371
Hey @skojin, check out #319.

[2021-03-25 11:11] #371 closed

[2021-04-01 22:05] stedliu opened #373 "The reset no longer works after upgrading db to 12 and using pg_stat_statements_reset(userid, dbid, queryid)"
Hi,

Before creating an issue, please check out the Contributing Guide:

https://github.com/ankane/pghero/blob/master/CONTRIBUTING.md

Thanks!

[2021-04-05 15:11] stedliu commented on #373
My setup:
I am running version 281 of pghero, the most recent one. The database version is Postgresql 12.2 and pg_stat_statements extension is 1.7.

I have implemented a dedicated pghero user/role and used the new version of pghero.pg_stat_statements_reset function as below.

-- improved query stats reset for Postgres 12+ - delete for earlier versions
CREATE OR REPLACE FUNCTION pghero.pg_stat_stat

[2021-04-05 19:48] ankane commented on #373
Hey @stedliu, you'll still need the version without any arguments, since that's what PgHero currently uses. The version with arguments was added to the docs since it'll be the default for PgHero 3 (to save some users the time of going back and adding it later).

[2021-04-05 19:52] stedliu commented on #373
Hi Andrew,

Thank you very much for your clarification.

Ted

[2021-04-05 22:14] #373 closed

[2021-04-05 22:14] #368 closed

[2021-04-05 22:14] #366 closed

[2021-04-05 22:16] ankane commented on #344
Cleaning up issues, but let me know if you figure out where it's locking

[2021-04-05 22:16] #344 closed

[2021-04-06 17:54] brettdawkins opened #374 "FrozenError in PgHero::HomeController#index"
New Rails6 app with a remote data source using PG

Im getting FrozenError in PgHero::HomeController#index

Not sure if this is a bug, or just an oversight myside.

Any help appreciated

[2021-04-07 00:16] ankane commented on #374
Hey @brettdawkins, can you paste the full stack trace?

[2021-04-07 00:48] brettdawkins commented on #374
Here goes (password, host and db masked)

    FrozenError in PgHero::HomeController#index
    can't modify frozen Hash: {:adapter=>"postgresql", :pool=>5, :username=>"rails", :password=>"X", :timeout=>5000, :database=>"x", :host=>"x", :port=>5432}
    Extracted source (around line #80):
    78            url = "#{url}#{url.include?("?") ? "&" : "?"}connect_timeout=5" unless url.include?("connect_t

[2021-04-07 17:23] brettdawkins commented on #374
Sorry, hectic day at the office. My bad also, the issue was a bit odd, I had installed the gem, 2.8.0, then

    PG::UndefinedColumn: ERROR: column "total_plan_time" does not exist LINE 1: ... query, queryid AS query_hash, rolname AS user, ((total_plan..

Tried ALTER EXTENSION pg_stat_statements UPDATE; command to upgrade but I can see version 1.8 - and still no luck the column is missing still. R

[2021-04-08 15:37] petrprikryl commented on #374
Make sure you are running the `ALTER EXTENSION pg_stat_statements UPDATE;` on the right database (`DATABASE_URL`). I was facing the same error.

[2021-04-08 18:09] brettdawkins commented on #374
Bingo. Cant see the wood through the trees. Totally overlooked that this was database specific. Did the job perfecto Petr!

[2021-04-19 16:26] bheemreddy181 commented on #365
@ankane Can i get a review for the PR ?

[2021-04-28 15:13] joshuabaird opened #375 "Scaling pg_hero?"
This is more of a general question than an issue - my apologies if this is the wrong place for that.

I'm considering running a multi-tenant Rails-engine based deployment of pg_hero to monitor 150+ databases.  With adequate compute resources and horizontal scaling (this will be running on ECS/k8s so we can run multiple replicas), will this be an issue performance wise?

One potential issue that I

[2021-05-04 09:17] zeha opened #376 "Support pg_stat_statements 1.8 / postgresql 13"
Hi,

pg_stat_statements as included in postgresql 13 has renamed/split a few fields, notably `total_time`.

I.e. in pg_stat_statements 1.8 (postgresql 13):
[code]

Where in pg_stat_statements 1.7 (postgresql 12 and lower):
[code]

I am not sure how to support this in pghero without breaking backwards compatibility...

Please consider supporting 1.8/13 :-)

Thanks,
Chris

[2021-05-05 04:23] ankane commented on #376
Hey @zeha, PgHero already supports this (try upgrading if you're seeing errors).

[2021-05-05 16:05] zeha commented on #376
Hi @ankane. Thanks for the very timely reply. It appears I locally broke the docker image update process - when I thought I was running the latest version, in fact I was using some older build. Works as expected after properly updating.

Thank you for making & maintaining pghero!

[2021-05-05 16:05] #376 closed

[2021-05-05 17:13] lacostenycoder opened #377 "Update Readme to clearly identify where documentation located"
While the documentation can be found in the "Installation" sub-sections, as simple as that seems, it's not immediately clear.

[2021-05-05 17:23] lacostenycoder commented on #301
I had the same problem and ended up on this issue to find the answer, so....
https://github.com/ankane/pghero/pull/378

[2021-05-05 17:53] maxsumrall commented on #376
Can you share what issues you ran into to properly update? I'm also having some issues "properly updating" to the latest docker image and can't seem to figure out why I still get this error on seemingly the latest docker image

[2021-05-06 05:25] ankane commented on #375
Hey @joshuabaird, PgHero only looks at one database at a time, so don't think there should be any performance issues. The database selector UI isn't something I'd like to change right now, but an autocomplete/dropdown menu makes sense for that many DBs. Feel free to share what you come up with.

[2021-05-06 07:58] zeha commented on #376
This setup has a very peculiar way of updating images, so almost none of that will be relevant to you.

It boiled down to: I had *two* images, one named `ankane/pghero:latest` and one `pghero:latest` (which I overlooked). And while I thought `ankane/pghero:latest` was being updated, the other, outdated, image actually ran.

[2021-05-06 13:02] joshuabaird commented on #375
@ankane Thanks!  Would you be open to a PR that improves the database selector UI?

[2021-05-07 09:49] maxsumrall commented on #376
Ah ha, thanks. It seems like upgrading to PG 13 required an extra step to make query stats work, with an error that in passing looked like the same one you posted originally. This FAQ item had the answer:
https://github.com/ankane/pghero/blob/master/guides/Query-Stats.md#error-column-total_plan_time--queryid-does-not-exist

ALTER EXTENSION pg_stat_statements UPDATE;

[2021-05-10 19:58] ankane commented on #375
It's not something I'd like to change right now, so there's a good chance it wouldn't be merged, but feel free to submit what you come up with.

[2021-05-15 21:38] #377 closed

[2021-05-19 01:39] #365 closed

[2021-05-22 21:38] atkawa7 commented on #318
Support query **[fingerprint](https://pganalyze.com/blog/pg-query-2-0-postgres-query-parser#fingerprints-in-pg_query-a-better-way-to-check-if-two-queries-are-identical)**

[2021-05-26 20:19] andyatkinson opened #380 "[Idea] More customization points"
To adopt pghero at work, we are looking at hiding the "Kill All Connections" button, and on the Explain screen, the Analyze and Visualize buttons. Using the template approach, I made options for those and was thinking to reference them in the ERB templates. I added those options to the template generator with values of true, but commented out. On our template, I added the options and set the value

[2021-06-01 04:16] ankane commented on #374
Thanks @petrprikryl!

[2021-06-01 04:16] #374 closed

[2021-06-01 04:17] #375 closed

[2021-06-01 18:56] ankane commented on #380
Future readers: see #379

[2021-06-01 18:56] #380 closed

[2021-06-06 00:18] Dulanic opened #381 "pg_query_stats normalization"
Hello,

Have you considered normalizing pg_query_stats? I would like to keep query stats longer, but the tables starts getting massive. The same queries are recorded thousands if not dozens of thousands of times. Some of these queries are long and take up significant space over time.

[2021-06-08 22:13] culov opened #382 "Query stats unavailable on RDS"
Hello,

Thank you for this great gem, I've been having some trouble getting the query stats piece to work. I've followed [the instructions](https://github.com/ankane/pghero/blob/master/guides/Query-Stats.md) to enable query stats on RDS.

However, when I visit the dashboard (I've restarted the database a couple times), I continue to see the HTML block indicating that I need to enable `pg_stat_stat

[2021-06-09 07:05] ankane commented on #382
Hey @culov, from the error message, it looks like `pg_stat_statements` is missing from `shared_preload_libraries`. Be sure the update it in the parameter group for your database instance and restart the database instance after it's applied. Check out the Contributing Guide for where to get additional help.

[2021-06-09 07:05] #382 closed

[2021-06-09 21:07] ganeshan opened #383 "Error when pulling docker image from docker hub"
docker pull ankane/pghero

reports the following error:
====================
Using default tag: latest
Error response from daemon: Get https://registry-1.docker.io/v2/ankane/pghero/manifests/sha256:292ed571a0d76dd2a023f383cccb6ba59a7b7c336433c8e9502010ca1f1b4294: unexpected EOF

[2021-06-10 03:59] ankane commented on #383
Hey @ganeshan, that seems like it could be a network issue.

[2021-06-10 03:59] #383 closed

[2021-06-19 03:18] andyatkinson commented on #318
@bheemreddy181 We disabled a couple features we didn't want to use, using the config file. I proposed it as a PR but @ankane didn't want to support it, but feel free to look at my fork for inspiration. You posted quite a while back though so perhaps you pursued another solution in the meantime. https://github.com/ankane/pghero/pull/379

[2021-06-19 03:27] andyatkinson commented on #104
@ankane Digging up an old one here so bear with me 😁

Cybertec suggests removing unused indexes. I started doing this on our primary application and we had > 100 of them and some of them were nearly as large as our largest tables on disk. So, at a minimum it's a way to reduce a lot of disk space usage for an unused index. And there is some impact to write rate. In any case we've been trying to rem

[2021-07-01 13:15] aalemanq commented on #102
So...now a days, can we use a user that is not superuser to update query stats?

I have same problem: ERROR:  permission denied for function pg_stat_statements_reset and I was following next guide: https://github.com/ankane/pghero/blob/master/guides/Permissions.md

[2021-07-14 17:44] ganeshan commented on #383
Thanks @ankane , you are correct. I tried it on another machine, and it downloaded fine.

[2021-07-21 20:20] ACPK commented on #278
rocessing by PgHero::HomeController#connections as HTML
   (23.7ms)  SELECT datname AS database, usename AS user, application_name AS source, client_addr AS ip, COUNT(*) AS total_connections FROM pg_stat_activity GROUP BY 1, 2, 3, 4 ORDER BY 5 DESC, 1, 2, 3, 4 /*pghero*/ /*application:InviteEducation,controller:home,action:connections*/
Completed 500 Internal Server Error in 26ms (ActiveRecord: 23

[2021-07-21 20:22] ACPK opened #387 "Comparison of Array with Array failed"
When I visit "/pghero/connections", I get the following error:

```ArgumentError: comparison of Array with Array failed```

The error seems to be on line #355 of pghero/app/controllers/pg_hero/home_controller.rb.

```top_connections.sort_by { |k, v| [-v, k] }```

Backtrace:

[code]

[2021-07-22 21:19] ankane commented on #387
Hey @ACPK, it looks like you're on an older version of PgHero (that's no longer supported).

[2021-07-22 21:19] #387 closed

[2021-08-04 01:36] AlekseiSaff opened #388 "Explain issue (PG::UnableToSend: server closed the connection unexpectedly)"
Hi,

facing the weird issue with explain functionality. PGHero gives an error
"PG::UnableToSend: server closed the connection unexpectedly This probably means the server terminated abnormally before or while processing the request."

Not sure how to debug this explain analyze from psql or pgadmin works well

Alex

[2021-08-23 01:17] ankane commented on #388
Hey @AlekseiSaff, unfortunately, I'm not sure how to reproduce. Could something external be canceling long running transactions (since PgHero runs explain inside a transaction)?

[2021-09-02 15:29] encryptblockr commented on #130
where is screenshot for multiple databases? I have a setup with multiple databases but i see the same GUI as single database, and it points to the primary database

any official or non-official screenshot showing this?

[2021-09-02 16:15] encryptblockr opened #391 "Multiple Databases GUI"
How does the GUI looks like for managing multiple databases?

I have a multi database setup but i have no screenshot to compare against
I don't see any error but i only see the first and primary database only, same as the UI for single database

[2021-09-03 02:40] encryptblockr opened #392 "Where is Dockerfile used to build the docker image?"
Looking through the repo, could not find the Dockerfile used to build the `ankane/pghero` image
Where do we find the Dockerfile?

[2021-09-09 05:58] ankane commented on #391
Hey @encryptblockr, there will be a list of databases on the left side.

![multiple-dbs](https://user-images.githubusercontent.com/220358/132631164-8c8d03c4-14cb-4c4b-b5c3-1382fcb62e07.png)

[2021-09-09 05:58] #391 closed

[2021-09-09 05:59] ankane commented on #392
Hey @encryptblockr, the Dockerfile is here: https://github.com/pghero/pghero

[2021-09-09 05:59] #392 closed

[2021-09-13 12:40] encryptblockr commented on #391
i am not seeing the `Databases` section. Can you please help with what i have wrong?
Here is my `pghero.yml`

[code]

and the for the `env`s

[code]

the only one that shows up like a single database in pghero is the `database1`...nothing else shows
what am i doing wrong?

[2021-09-17 10:34] Erowlin opened #394 "undefined method `/' for nil:NilClass"
Hi, thanks for the gem!

There is an issue with the live queries feature on our hand.

PGHero: 2.8.1

Here is the backtrace:

[code]

Error: ActionView::Template::Error
URL: pghero/primary/live_queries

Let me know if you need any additional information.

Thank you !

[2021-09-20 12:07] encryptblockr opened #395 "why are all SELECT queries slow queries in pghero?"
Why is it that this query always show up as slow query in pghero?

[code]

this simple query that completes in milliseconds ALWAYS show up in pghero as slow live queries/long running queries..WHY is this? and what can one do to fix this?

The query is not long running and is not slow..it complete in like 300 milliseconds or so..even with returning 4000 rows at that

[2021-09-20 19:12] ankane commented on #394
Hey @Erowlin, it looks like `duration_ms` is `nil`, which seems odd. What version of Postgres are you on? Also, if you run the following query on your database, what's it return?

[code]

[2021-09-20 19:12] #388 closed

[2021-09-20 19:19] ankane commented on #395
Hey @encryptblockr, you can customize the thresholds with `slow_query_ms` and `slow_query_calls` ([Docker docs](https://github.com/ankane/pghero/blob/master/guides/Docker.md#customization--multiple-databases)). The default is 20 ms and 100 calls.

[2021-09-20 19:19] #395 closed

[2021-09-21 07:15] Erowlin commented on #394
PostgreSQL 12.7

WHERE COALESCE(query_start, xact_start) IS NULL AND state <> 'idle' AND datname = current_database();

3

[2021-09-21 20:06] ankane commented on #394
It'd be good to look at those rows to see if you notice a pattern/difference from other rows in `pg_stat_activity`. Also, any chance you're running a forked version of Postgres or have custom extensions installed?

[2021-09-21 22:54] ankane commented on #381
Hey @Dulanic, thanks for the suggestion. I think it'll add more complexity, but will consider it for PgHero 3.0 (#318). Someone could also put together a script that does this before cleaning up previous stats.

[2021-09-22 00:49] Dulanic commented on #381
Thanks @ankane. I did this testing, and it reduced my query table by over 80% and that doesn't consider the hash column that I forgot about until now. That shouldnt be as large of a impact. This was my test code, forgive the lazy ugly code.

[code]

[2021-09-29 12:44] Erowlin commented on #394
AFAIK we run a regular Postgres !

[2021-10-13 02:09] ankane commented on #394
If you're able to learn anything about the queries, let me know.

[2021-11-06 11:06] dchimeno opened #398 "Run pghero under different folder"
The default docs says about running pghero under / in nginx like:

[code]

I would like it to serve under a different folder, says /pghero/, so I could serve other apps under the same domain.

[code]

This works for the root page, but not for others like /queries.

Is it possible to pass a variable to pghero to make it serving under a subfolder?

I've tried ROOT_PATH, but seems that is for another

[2021-11-06 19:26] ankane commented on #398
Hey @dchimeno, check out #145.

[2021-11-09 23:43] ankane commented on #398
Added to docs.

[2021-11-09 23:43] #398 closed

[2021-11-09 23:45] ankane commented on #394
Cleaning up issues

[2021-11-09 23:45] #394 closed

[2021-11-15 09:18] dchimeno commented on #398
This is great, thanks a lot.

[2021-11-20 13:41] robinvdvleuten opened #399 "Mounting pghero dashboard results in a 406 error"
In our application we mounted the pghero dashboard like the example in the documentation;

[code]

But whenever I try to access the dashboard at `/pghero', I get the following exception;

[code]

The sidekiq dashboard is working as expected though.

[2021-11-20 13:44] robinvdvleuten commented on #399
Never mind, when writing this down I suddenly realized we had a custom inflection set so we could write our job as `pghero_job.rb` instead of `pg_hero_job.rb` 🤦

[2021-11-20 13:44] #399 closed

[2021-12-02 21:12] navkumar2245 opened #400 "Support for Multitenancy"
Hi

I am having around 200 schema in a database , when i installed this gem it it taking too much time to load the dashboard , how can i restrict the pg hero stats only for one schema.

I am using Apartment gem.

[2021-12-09 23:39] ankane commented on #400
Hey @navkumar2245, there's not a way to restrict by schema. If you're able to fork and add profiling for slow pages, there may be ways to speed things up.

[2021-12-15 12:47] miharekar opened #402 "Deprecation warning with Rails 7.0"
Hey, the gem is raising these deprecation warnings

[code]

Do you want me to look into it and submit a PR?

[2021-12-15 21:24] ankane commented on #402
Hey @miharekar, pointing your Gemfile to GitHub will fix the warnings. 9b03508f5fabb61cb0132b38c88b3256fe2872fb

[2021-12-15 21:24] #402 closed

[2021-12-16 06:39] miharekar commented on #402
Ah, awesome! 🥳

Thanks

[2021-12-22 02:26] jayzalowitz opened #404 "No route matches [GET] "/pghero""
No route matches [GET] "/pghero" shows even though I am using this in routes

if Rails.env.development?
    authenticate :user, -> (user) { user.admin? } do
      mount PgHero::Engine, at: "pghero"
    end
 end

ruby 3.0.0p0 (2020-12-25 revision 95aff21468) [x86_64-darwin20]
Rails 6.1.4.2

[2022-01-06 18:59] leoplct opened #405 "Question: What does it mean a blank connection name?"
If I go to /pghero/connections

I got this blank group of 4 connections. What does it mean?
![Screenshot 2022-01-06 at 19 56 37](https://user-images.githubusercontent.com/1176145/148436348-f560e8fe-fef6-41df-bf4d-41ec8751787f.png)

[2022-01-11 06:42] #400 closed

[2022-01-11 06:46] ankane commented on #404
Hey @jayzalowitz, my best guess is the environment isn't development, the logged in user isn't an admin, or it's nested in a namespace. This doesn't seem like an issue w/ PgHero, so please use Stack Overflow for additional help.

[2022-01-11 06:46] #404 closed

[2022-01-11 07:06] ankane commented on #405
Hey @leoplct, these are most likely Postgres server processes.

You can check with:

[code]

Example output

[code]

[2022-01-21 00:30] MrJoy commented on #319
Is there any chance of PgHero being updated to support Webpacker, or the new mechanism Rails 7 provides?

[2022-01-21 13:10] joshuakp opened #406 "TypeError (no implicit conversion of nil into String):"
I got this error in the docker logs while trying to run v2.8.2 using postgres 14.1-alpine database.How do I fix it?

TypeError (no implicit conversion of nil into String):

activesupport (6.0.4.4) lib/active_support/security_utils.rb:27:in `digest'
activesupport (6.0.4.4) lib/active_support/security_utils.rb:27:in `secure_compare'
actionpack (6.0.4.4) lib/action_controller/metal/http_authenticatio

[2022-01-21 20:20] ankane commented on #406
Hey @joshuakp, it looks like `PGHERO_PASSWORD` is set without `PGHERO_USERNAME`.

[2022-01-24 18:14] andyatkinson opened #407 "Docs or strategy clarification request: Active Record and PG version compatibility"
Hello,

I'm wondering if you think it's worth clarifying the runtime Rails (Active Record) version compatibility matrix with PgHero? And with PostgreSQL versions?

It seems tag `v2.8.2` depends on Rails 5 or newer, and then `master` branch has upgraded to Rails/AR 7. I have a few questions: Is there a hard requirement on something in version 7 for newer PgHero? Could that be relaxed to Version 6 p

[2022-01-24 18:17] andyatkinson commented on #407
Hi @ankane - LMK what you think. Thank you for taking a look.

[2022-01-25 20:02] ankane commented on #407
Hey @andyatkinson, PgHero currently supports Active Record 5.0+ (even on master - see gemspec and CI). The current plan is to drop support for Active Record < 5.2 with PgHero 3, but not sure when that'll be.

[2022-01-25 20:20] andyatkinson commented on #407
Oof, I thought I saw `spec.add_dependency "activerecord", ">= 7.0"` but maybe was looking at a different gem? Ok great.  My confusion. Our main app is on Rails 5 and I'm looking to add some features to out fork. For now anyway it's good to know that we can continue to pull in the main branch changes from upstream.

[2022-01-25 20:21] andyatkinson commented on #407
The original purpose of this was built on a bad assumption so I'm closing this issue.

[2022-01-25 20:21] #407 closed

[2022-02-17 08:01] #406 closed

[2022-02-17 08:02] #405 closed

[2022-02-17 23:07] steven792 opened #409 "system redirect to localhost:3001 after adding second or more databases in pghero.yml"
After fixing install for debian as current docs fail for release 10 and gpg, I find all working with nginx proxying port 80 to 3001 however after adding multiple databases in pghero.yml the system will do a redirect to http://localhost:3001/(first db name)  rather than a redirect to the $host causing issues.    example:  pghero.mydomain.com  redirects on the host to  http://localhost:3001/pghero

[2022-02-24 02:47] hisefath opened #410 "PgHero 2.8.2 with pg_stat_statments 1.8 | overview and live_queries broken"
Hi!

My /overview and /live_queries pages are broken

I'm running a PGHero 2.8.2 image with pg_stat_statements version 1.8
(Which I can see after running the `ALTER EXTENSION pg_stat_statements UPDATE;` command)

but running into this issue which i can see in the RDS Error logs

[code]

[2022-02-24 03:58] hisefath commented on #410
I dropped the table and created it again with
[code]

  then reapplied permissions with

[code]

  And that did it

[2022-02-24 03:58] #410 closed

[2022-03-10 09:44] tdeo commented on #394
Hello,

I was investigating this issue which is still happening on our end (I work with @thromera). It seems that the queries causing issues have `walsender` backend type, which apparently already have a special treatment for showing long running queries:

<img width="860" alt="image" src="https://user-images.githubusercontent.com/6230277/157635060-6c39e553-7da1-4972-9c94-0b167c14fd05.png">

Let m

[2022-03-12 19:54] ankane commented on #394
Hey @tdeo, thanks for the additional info. Just pushed a fix, but am still a bit confused about why this doesn't seem to be affecting other users.

[2022-03-12 21:10] tdeo commented on #394
Thanks for the fix!
Looks like it would be expected that walsender connections have no start timestamp from [The docs](https://www.postgresql.org/docs/11/monitoring-stats.html#PG-STAT-REPLICATION-VIEW).
I could guess there might not be many people connecting their RoR application to their database with a privilege that lets them list replication slots and that could be specific to our setup

[2022-03-12 21:44] ankane commented on #409
Hey @steven792, try adding `proxy_set_header X-Forwarded-Host $host;` to the nginx config.

[2022-03-20 20:33] shlomyb-di commented on #240
@ankane although this is an old issue but i'm facing it as well.

I didn't fully understood your answer about it, does the historical query state should enabled in postgresql.conf ? because i didn't find any records for this type of configuration .

my postgresql.conf stats configuration contain the following 👍
[code]

But i have seen some of the queries contain up to 20 parameters so it's kinda i

[2022-03-29 18:41] #409 closed

[2022-04-14 22:28] caleyshemc opened #411 "Query stats permission issue despite following Permissions guide"
I have followed the Rails guide to install the pghero and pg_query gems. (I am skipping authentication for now, as I'm just trying to get things running. I also skipped the "Historical Query Stats" section as I figured I need to set up query stats first.)

I also followed the Permissions guide to set up a dedicated pghero user. However, when I attempt to enable query stats, I get the following err

[2022-04-14 22:29] caleyshemc commented on #411
I am running Postgres 12.9 on Ubuntu 20, and Rails 5.2.

[2022-04-25 02:02] ankane commented on #411
Hey @caleyshemc, my guess is `pg_stat_statements` isn't readable. You can check with:

[code]

Be sure to use a superuser when following the Permissions guide. For additional help, please use Stack Overflow.

[2022-04-25 02:02] #411 closed

[2022-04-27 20:18] caleyshemc commented on #411
To any future users with the same issue, I had incorrectly run `CREATE extension pg_stat_statements;` on the postgres database, not the database for my app itself. It's still not completely clear from the Permissions guide whether those statements should be run on `postgres` or the app database, either.

[2022-04-29 14:35] lucasarrielenjoei commented on #318
Recently we are having I/O problem cost in AWS and we have to disable capture_query_stats to get information from pg_stat_statements, more specific the info from blk_read_time and blk_write_time, the query's that are having a lot of I/O usage was not necessary the worst time queries. So we are asking to save the information about this fields in the pghero_query_stats. Just having this info in this

[2022-05-03 13:50] pgfan1024 opened #412 "system tab missing in the Dashboard when using pghero Docker"
Hi,

I am trying to use pghero for system monitoring e.g. CPU, IOPS as well. Looking at the docs and could not find any references if there are any flags to enable capturing the OS data.

Appreciate any help!
Thanks!

[2022-05-04 00:02] pgfan1024 commented on #412
Thanks @ankane, I was comparing with New Relic container where using options like `--network`, `--pid=host`, `--privileged` enables OS stats collection of the host, irrespective of cloud platform. I am currently using Crunchy Bridge.

TIA!

[2022-05-11 22:22] roy-urbint opened #413 "Capturing query stats"
How do you run/schedule capturing query stats on kubernetes environment.?

`docker run -ti -e DATABASE_URL=... ankane/pghero bin/rake pghero:capture_query_stats`

[2022-05-11 23:01] ankane commented on #413
Hey @roy-urbint, check out the Contributing Guide for where to get help.

[2022-05-11 23:01] #413 closed

[2022-05-15 20:04] andriusdj opened #414 "debian 11 support?"
Hello,

Is there any plan to support the current Debian stable version 11 aka bullseye?

Regards

[2022-05-15 20:36] #414 closed

[2022-05-15 20:37] ankane commented on #414
Just pushed a build for it to Packager: https://packager.io/gh/pghero/pghero

[2022-05-19 15:13] bielids commented on #216
I'm still running into this problem. How can I get around that using an NGINX proxy?

[2022-05-20 22:54] ankane commented on #216
Check out #409.

[2022-05-24 04:58] ankane opened #415 "PgHero 3"
Please create a new issue to discuss any ideas or share your own.

`edge` branch

Plan

- [x] (breaking) Make `capture_query_stats`  only reset stats for database instead of instance in Postgres 12+
- [x] (breaking) Make `reset_query_stats` only reset stats for current database (use new `reset_instance_query_stats` method to reset for entire instance)
- [ ] Only suggest removing large unused index

[2022-05-24 05:02] ankane commented on #318
@atkawa7 I don't fully understand the suggestion, but feel free to create an issue with more details.

@lucasarrielenjoei I don't think it's common enough to support, but you can probably fork and add for your own applications.

Also, moved the 3.0 plan to #415, so closing this thread.

[2022-05-24 05:02] #318 closed

[2022-05-24 05:04] ankane commented on #381
Added to #415 (as something to consider still), so closing this out.

[2022-05-24 05:04] #381 closed

[2022-06-29 11:36] afterdesign opened #417 "Docker pghero.yml and NullDB"
I'm using docker image. I've create Dockerfile where I copy the `pghero.yml`.

Running `pghero:capture_space_stats` and `pghero:capture_query_stats` works without any problems but for `pghero:clean_space_stats` I have to set `DATABASE_URL` env var as it's throwing `NullDB not configured. Require a framework, ex 'nulldb/rails'`.

I started to debug this and it looks databases have proper URLs but h

[2022-06-29 17:59] ankane commented on #417
Hey @afterdesign, I'm having reproducing that exact error message (maybe an older version of PgHero), but there's no rake task for cleaning space stats (only query stats).

[2022-06-30 06:35] afterdesign commented on #417
@ankane OMG you're right, my mistake. It's all about `pghero:clean_query_stats`. This is the task I had to setup 2 cron jobs for `db_1` and `db_3` with `DATABASE_URL` env variables.

[2022-07-01 02:01] ankane commented on #417
Hmm, I'm now able to reproduce, but only when `DATABASE_URL` is not set (which looks to be a slightly different issue). Make sure you're on the latest version (2.8.3). Also, you only need a single job for all databases.

[2022-07-22 20:23] devinburnette opened #420 "[Idea] suggested indexes improvement for rails applications"
I absolutely love using pghero. Thanks for maintaining such an amazing piece of software.

I found the suggested indexes feature really nice and thought of an improvement for rails implementations.

It would be cool if it could detect we're running in a rails implementation and print out the suggestion in rails migration syntax  instead of the raw sql.

So like this:
`CREATE INDEX CONCURRENTLY....

[2022-07-26 14:46] devinburnette commented on #420
nevermind, i see this feature already exists! closing!

[2022-07-26 14:46] #420 closed

[2022-08-03 01:19] ankane commented on #417
Cleaning up issues

[2022-08-03 01:19] #417 closed

[2022-09-05 19:03] marcusricardoaguiar opened #422 "[Idea] Dynamic inject config in cloud run"
Instead of have to rebuild the image whenever we need to update `pghero.yml`, we could inject the cloud run config data as a secret and use it to deploy the pghero tool.

[2022-09-05 22:15] DanRStevens opened #423 "PgHero needs a documented shutdown command"
It took me a day to figure out PgHero can be shutdown with:
[code]

Previously I had resorted to using `kill` to try and terminate it, but it kept coming back with new process ids, and was restarted after a system reboot.

Actually, it's not really clear to me why it needs to be a system service. Would seem reasonable to run it from a terminal without `sudo`, and then just Ctrl+C it when done usin

[2022-09-06 11:38] marcusricardoaguiar commented on #422
Using GCP Secrets we can mount a volume and load a file config:
[code]
If we have the possibility to define the environment var with the config path it would solve it. :)

[2022-09-06 18:29] ankane commented on #422
Hey @marcusricardoaguiar, thanks for the suggestion. I don't fully understand the details of how this might work from the description, but you can set the location of the config file with the `PGHERO_CONFIG_PATH` environment variable.

[2022-09-09 01:58] dhnaranjo opened #424 "On load, PgHero::Stats assumes ActiveRecord::Base has a connection, crash if not. Context of Tapioca/Sorbet"
Yowhattup.

I'm trying out Sorbet and Tapioca and I'm running into a wall when PgHero is included. Tapioca requires all your gems and loads all their classes. What appears to happen is that when PgHero is `require`'d `PgHero::Stats` tries to make a database connection immediately and fails.

What happens is that `connection_config` on `lib/pghero.rb#215` goes looking for info about the connection

[2022-09-10 20:45] #424 closed

[2022-09-10 20:47] ankane commented on #424
Hey @dhnaranjo, thanks for sharing. Pushed an update to the config pattern that address it.

[2022-09-13 01:40] ankane commented on #423
Hey @DanRStevens, stopping the service is documented in the [Management](https://github.com/ankane/pghero/blob/master/guides/Linux.md#management) section.

[2022-09-13 01:40] #423 closed

[2022-09-13 03:04] DanRStevens commented on #423
Might also help to mention it when running the app without arguments. It mentions most other commands there, but not `stop`. It's pretty easy to miss the Management section of the documentation.

[2022-09-13 19:52] ankane opened #425 "Ideas"
Please create a new issue to discuss any ideas or share your own.

- [ ] Only suggest removing large unused indexes on space page
- [ ] Add support for system stats for self-hosted Postgres (`pg_proctab`, `file_fdw`, or another method)
- [ ] (maybe) Normalize query stats to save space - #381

[2022-09-13 19:52] #415 closed

[2022-09-19 01:31] #422 closed

[2022-10-18 06:53] baptisteArno opened #427 "`the scheme postgresql does not accept registry part` when running historical data db in the same docker-compose"
Hi,

I configured a docker-compose to also instantiate the historical stats database:

[code]

I'm attempting to connect to the following history db url: `postgresql://postgres:postgres@pghero_historical_db:5432/postgres`

But I'm getting this error on container launch:

[code]

[2022-10-18 11:31] khaiql opened #428 "Cannot upgrade AWS Postgres version"
Hi,

I've been trying to upgrade RDS instance to version 13 (and later 14) but getting this error:

[code]

This looks pretty similar to another issue https://github.com/ankane/pghero/issues/366, which I already tried drop everything related to pghero with this command:
[code]

However the error still persists and I can't find where else this pghero view might exist. Could you please shed some lig

[2022-10-18 17:58] andyatkinson commented on #427
@baptisteArno Are you able to connect to the pg_historical_db by itself without running the pghero part?

[2022-10-18 19:11] ankane commented on #428
Hey @khaiql, it looks like the `pghero` schema is still present. Be sure to remove it from all databases.

[2022-10-18 19:11] #428 closed

[2022-10-18 19:15] ankane commented on #427
Hey @baptisteArno, it looks like `depends_on` has `historical_db` instead of `pghero_historical_db`.

[2022-10-18 20:12] baptisteArno commented on #427
I'll try that but I'd be surprised it fixes anything because of the error

It doesn't say "can't reach" or "timeout", it says it doesn't like the look of the URL

[2022-10-18 20:21] ankane commented on #427
Yeah, it looks like the issue is the hostname is invalid (underscores are not allowed).

[2022-10-21 00:18] luizm opened #429 "filter_data error"
Hi there

I'm using the latest version of pghero, and I'm facing a weird error when I enable `filter_data: true` in the config file.. Any guesses why? it will help me a lot to debug it

Thank you in advance

log
[code]

[2022-10-21 05:21] #427 closed

[2022-10-30 16:02] ankane commented on #429
Hey @luizm, I'm not sure how to reproduce. Can you paste the complete stack trace? Also, how is PgHero installed (Docker, Linux, Rails)?

[2022-11-06 22:27] lanrat opened #430 "clean_query_stats fails"
Running the following for `pghero:clean_query_stats` fails with the following stack-trace & error:

[code]

I did a quick look and only found `schema.rb` [here](https://github.com/ankane/pghero/blob/master/test/internal/db/schema.rb) which appears to only be used for testing?

[2022-11-09 04:26] ankane commented on #430
Hey @lanrat, it looks like the stats database URL isn't set. You'll either need to pass `-e DATABASE_URL=...` or set the URL in `pghero.yml`.

[2022-11-09 04:55] lanrat commented on #430
@ankane I do have my database urls set in `pghero.yml`. Here is what mine looks like:

[code]

Is this the correct syntax?

[2022-11-09 05:26] ankane commented on #430
Yes, but you'll need to tell it where the query stats are stored - either with `-e DATABASE_URL=...` (like the example in the docs) or with a top-level `stats_database_url` key in `pghero.yml`.

[2022-11-09 05:26] #430 closed

[2022-11-09 06:40] lanrat commented on #430
What is the purpose of the `capture_query_stats` field then?

How do you tell what database to put the stats in? if `stats_database_url` is global?

[2022-11-22 20:44] #429 closed

[2022-11-30 08:13] elmeriniemela commented on #277
What is the purpose of historical query stats if this is the case? I'm currently trying to display all this week's queries in the UI, but I can only get the last 24h in the UI. The historical query stats table contains queries much older than that, they are just not displayed.